{% load dit_tags %}

{% get_seo_item as seo_item %}

<meta name="theme-color" content="#310C73">
<meta name="viewport" content="width=device-width, initial-scale=1" />

{% if seo_item %}


    <meta name="description" content="{{ seo_item.og_description }}" />
    {% if  seo_item.keywords %}
        <meta name="keywords" content="{{ seo_item.keywords }}" />
    {% endif %}


    <meta property="og:locale" content="en_US">

    <meta property="og:type" content="website">



    <meta property="og:title" content="{{ seo_item.og_title }}">
    <meta property="og:description" content="{{ seo_item.og_description }}">


    <meta name="twitter:card" content="summary">
    <meta name="twitter:description" content="{{ seo_item.og_description }}">
    <meta name="twitter:title" content="{{ seo_item.og_title }}">

    {% if seo_item.og_image %}
    <meta name="twitter:image" content="{% abs_url seo_item.og_image.url %}">
    <meta property='og:image' content="{% abs_url seo_item.og_image.url %}">
    <meta property="og:image:url" content="{% abs_url seo_item.og_image.url %}">
    {% endif %}

{% endif %}