{% load i18n hyper_tags %}

<!--topbar start-->
<div class="topbar bar-small accent-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="hotline-number">
                    <span><i class="ti-headphone-alt"></i> Have a questions? Call us <strong>{{ config.shop_hotline}}</strong></span>
                </div>
            </div>
            <div class="col-md-8 text-right">
                {% include "partials/search.html" %}
                <div class="top-login-bar">
{#                    {% if config.header_content %}#}
{#                        <div class="topbar">#}
{#                            {% hyperfield_render config.topbar_menu %}#}
{#                        </div>#}
{#                    {% endif %}#}
                    <ul class="list-inline">
                        {% if user.is_authenticated %}
                            <li class="list-inline-item"><a id="login_link" href="/about-us">{% trans "About Us" %}</a></li>
                            <li class="list-inline-item">
                                {% if num_unread_notifications > 0 %}
                                    {# If user has new notifications - we change account link to go to inbox #}
                                    <a href="{% url 'customer:notifications-inbox' %}">
                                        <i class="icon-user"></i>
                                        {% trans "Account" %}
                                        <span class="label label-important">{{ num_unread_notifications }}</span>
                                    </a>
                                {% else %}
                                    <a href="{% url 'customer:summary' %}"><i class="ti-user"></i> {% trans "Account" %}</a>
                                {% endif %}
                            </li>
                            {% if user.is_staff or perms.partner.dashboard_access %}
                                <li class="list-inline-item"><a href="{% url 'dashboard:index' %}"><i class="ti-dashboard"></i> {% trans "Dashboard" %}</a></li>
                            {% endif %}

                            <li class="list-inline-item"><a id="logout_link" href="{% url 'customer:logout' %}"><i class="ti-unlock"></i> {% trans "Logout" %}</a></li>

                        {% else %}
                            <li class="list-inline-item"><a id="login_link" href="/about-us">{% trans "About Us" %}</a></li>
                            <li class="list-inline-item"><a id="login_link" href="{% url 'customer:login' %}"><i class="ti-lock"></i> {% trans "Login or Register" %}</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--topbar end-->
