{% extends "layout.html" %}
{% load promotion_tags %}

{% comment %}
Keep the same header and footer as the standard layout template but override the 
main content area to split it into a sidebar and a content block
{% endcomment %}
{% block content_wrapper %}

<div class="custom-breadcrumbs bg--custom">
    <div class="container">
        <div class="d-block d-md-flex flex-row justify-content-between align-items-center">
            {% block breadcrumbs %}{% endblock %}
        </div>
    </div>
    {% include "partials/alert_messages_minimal.html" %}
</div>
<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="promotions">
                    {% for promotion in promotions_page %}
                        {% render_promotion promotion %}
                    {% endfor %}
                </div>
            </div>
        </div><!--/row -->
    </div><!--/container-->
    {% block content %}{% endblock %}
</div>

{% endblock %}
