{% load menu_tags hyper_tags %}
{% load static %}

<!--<section class="footer-top-section pt-3 pb-3 align-middle">-->
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="col-md-4 col-sm-4">-->
                <!--<div class="footer-list">-->
                    <!--<h4>Our Partners</h4>-->
                    <!--<ul class="nav-item d-inline-flex">-->
                        <!--<li class="list-inline-item">-->
                            <!--<img src="{% static 'themes/theme-4/img/p-1.png' %}" class="img-fluid custom-width" alt="partner">-->
                        <!--</li>-->

                        <!--<li class="list-inline-item">-->
                            <!--<img src="{% static 'themes/theme-4/img/p-2.png' %}" class="img-fluid custom-width" alt="partner">-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="col-md-4 col-sm-4">-->
                <!--<div class="footer-list">-->
                    <!--<h4>Our Awards</h4>-->
                    <!--<ul class="nav-item d-inline-flex">-->
                        <!--<li class="list-inline-item">-->
                            <!--<img src="{% static 'themes/theme-4/img/awards.png' %}" class="img-fluid" alt="partner">-->
                        <!--</li>-->

                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-4 col-sm-4">-->
                <!--<div class="footer-social-list footer-list">-->
                    <!--<h4>Follow us </h4>-->
                    <!--<ul class="nav-item d-inline-flex ml-auto">-->
                        <!--{% if settings.base.ApplicationSettings.facebook_url %}-->
                            <!--<li class="list-inline-item"><a target="blank"-->
                                                            <!--href="{{ settings.base.ApplicationSettings.facebook_url }}"><i-->
                                    <!--class="fa fa-facebook"></i></a></li>-->
                        <!--{% endif %}-->
                        <!--{% if settings.base.ApplicationSettings.twitter_url %}-->
                            <!--<li class="list-inline-item"><a target="blank"-->
                                                            <!--href="{{ settings.base.ApplicationSettings.twitter_url }}"><i-->
                                    <!--class="fa fa-twitter"></i></a></li>-->
                        <!--{% endif %}-->
                        <!--{% if settings.base.ApplicationSettings.linkedin_url %}-->
                            <!--<li class="list-inline-item"><a target="blank"-->
                                                            <!--href="{{ settings.base.ApplicationSettings.linkedin_url }}"><i-->
                                    <!--class="fa fa-linkedin"></i></a></li>-->
                        <!--{% endif %}-->
                        <!--{% if settings.base.ApplicationSettings.youtube_url %}-->
                            <!--<li class="list-inline-item"><a target="blank"-->
                                                            <!--href="{{ settings.base.ApplicationSettings.youtube_url }}"><i-->
                                    <!--class="fa fa-youtube"></i></a></li>-->
                        <!--{% endif %}-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</section>-->

{% if settings.base.ApplicationSettings.footer %}
<footer class="footer-section footer-new">
    {% hyperfield_render settings.base.ApplicationSettings.footer.content %}
    <div class="footer-social-list footer-list footer-stick">
            <ul class="nav-item d-inline-flex ml-auto follow">
                {% if settings.base.ApplicationSettings.facebook_url %}
                    <li class="icon first list-inline-item"><a target="blank"
                                                    href="{{ settings.base.ApplicationSettings.facebook_url }}"><i
                            class="fa fa-facebook"></i></a></li>
                {% endif %}
                {% if settings.base.ApplicationSettings.id_instagram_url %}
                    <li class="icon list-inline-item"><a target="blank"
                                                    href="{{ settings.base.ApplicationSettings.instagram_url }}"><i
                            class="fa fa-instagram"></i></a></li>
                {% endif %}
                {% if settings.base.ApplicationSettings.twitter_url %}
                    <li class="icon list-inline-item"><a target="blank"
                                                    href="{{ settings.base.ApplicationSettings.twitter_url }}"><i
                            class="fa fa-twitter"></i></a></li>
                {% endif %}
                {% if settings.base.ApplicationSettings.linkedin_url %}
                    <li class="icon list-inline-item"><a target="blank"
                                                    href="{{ settings.base.ApplicationSettings.linkedin_url }}"><i
                            class="fa fa-linkedin"></i></a></li>
                {% endif %}
                {% if settings.base.ApplicationSettings.youtube_url %}
                    <li class="icon list-inline-item"><a target="blank"
                                                    href="{{ settings.base.ApplicationSettings.youtube_url }}"><i
                            class="fa fa-youtube"></i></a></li>
                {% endif %}
                {% if settings.base.ApplicationSettings %}
                    <li class="label">Follow</li>
                {% endif %}
            </ul>
        </div>
</footer>
{% endif %}
