{% extends 'layout_2_col.html' %}



{% block content %}
    <style type="text/css">

    .notDone {
        text-indent: -999999px;
    }

    </style>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card my-5">
                    <div class="card-header">
                        <h5 class="m-0">
                            Thank you for your interest to see a demo
                        </h5>
                    </div>
                    <div class="card-body mb-4">
                        <p>Please stay tuned. We have received your request for free trial. We will let you know once we prepare {{ object.product.get_title }} for you!</p>
                        <p>Meanwhile you can checkout our other products from <a href="/">Store Home</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% csrf_token %}
{% endblock %}
