<div class="contentBoxWrap" id="{{ obj.id }}">
    {% if obj.settings.imageOrientation == 'left' %}
    <div class="row">
        <div class="col image-right-align col-12 col-md-4">
            <img src="{{ obj.settings.image.url }}" class="img-fluid" />
        </div>
        <div class="col col-12 col-md-8">
            <div class="content-box-content">
                <h3>{{ obj.settings.title }}</h3>
                <small>{{ obj.settings.subtitle }}</small>
                <div class="desc">
                    {{ obj.settings.description|safe }}
                </div>
                {% if obj.settings.actionUrl %}
                    <a href="{{ obj.settings.actionUrl }}" class="view-more-link" target="_blank">
                        {{ obj.settings.actionTitle }} <i class="fa fa-angle-right"></i>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
    {% elif obj.settings.imageOrientation == 'right' %}
    <div class="row">
        <div class="col col-12 col-md-8">
           <div class="content-box-content">
                <h3>{{ obj.settings.title }}</h3>
                <small>{{ obj.settings.subtitle }}</small>
                <div class="desc">
                    {{ obj.settings.description|safe }}
                </div>
               {% if obj.settings.actionUrl %}
                    <a href="{{ obj.settings.actionUrl }}" class="view-more-link" target="_blank">
                        {{ obj.settings.actionTitle }} <i class="fa fa-angle-right"></i>
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="col image-left-align col-12 col-md-4">
            <img src="{{ obj.settings.image.url }}" class="img-fluid" />
        </div>
    </div>
    {% elif obj.settings.imageOrientation == 'top' %}
    <div class="row">
        <div class="col-12">
            <img src="{{ obj.settings.image.url }}" class="img-fluid" />
        </div>
        <div class="col-12">
            <div class="content-box-content">
                <h3>{{ obj.settings.title }}</h3>
                <small>{{ obj.settings.subtitle }}</small>
                <div class="desc">
                    {{ obj.settings.description|safe }}
                </div>
                {% if obj.settings.actionUrl %}
                    <a href="{{ obj.settings.actionUrl }}" class="view-more-link" target="_blank">
                        {{ obj.settings.actionTitle }} <i class="fa fa-angle-right"></i>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-12">
            <div class="content-box-content">
                <h3>{{ obj.settings.title }}</h3>
                <small>{{ obj.settings.subtitle }}</small>
                <div class="desc">
                    {{ obj.settings.description|safe }}
                </div>
                {% if obj.settings.actionUrl %}
                    <a href="{{ obj.settings.actionUrl }}" class="view-more-link" target="_blank">
                        {{ obj.settings.actionTitle }} <i class="fa fa-angle-right"></i>
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="col-12">
            <img src="{{ obj.settings.image.url }}" class="img-fluid" />
        </div>
    </div>
    {% endif %}
</div>