{% load currency_filters %}
{% load thumbnail %}
{% load product_tags %}
{% load i18n %}

<style type="text/css">
    .owl-carousel .owl-stage {
        display: flex;
        flex-direction: row;
    }
    .learnMoreBtn {
        display: block;
        padding: 3px 20px;
        background: rgba(0, 114, 246, 0.75);
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #fff;
        margin-top: 20px;
        font-size: 14px;
    }
    .owl-carousel .owl-item, .store_product, .viewMoreCard {
        min-height: 100%;
        float: none;
    }
    .product_category_title a {
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    .detailBtn {
        padding: .5rem 1.5rem;
        align-items: center;
        color: #444;
        background: #FEFEFE;
        border-bottom: 1px solid #f5f5f5;
        text-transform: uppercase;
        letter-spacing: 1.5px;
    }
    .detailBtn:last-child {
        border-bottom: none;
    }
    .detailBtn:hover {
        background: #00b3ee;
        color: #fff;
    }
    .detailBtn:hover i.fa {
        color: #fff;
    }
    .detailBtn i.fa {
        color: #888;
    }

    .content-wrapper {
        margin-top: 0 !important;
        padding-top: 20px;
        background: rgb(242,243,245);
    }

    .product:hover {
        z-index: inherit !important;
    }
    .owl-nav {
        position: absolute;
        top: -45px;
        right: 0;
    }
    .owl-nav button {
        margin-left: 10px !important;
    }
    .owl-nav i.fa {
        color: #888;
    }
    .btnProductMainAction {
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: bold;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-12 mb-30">
            {% if categories %}
                {% for cat in categories %}

                    <div class="row {% if forloop.counter != 1 %}mt-60{% endif %}">
                        <div class="col-12">
                            <h4 class="product_category_title" style="margin-bottom: 20px">
                                <a href="{{ cat.get_absolute_url }}" style="color:#888">{{ cat.name }}</a>
                            </h4>
                        </div>
                        <div class="col-12">
                            <div class="owl-carousel product_slide">
                                {% for product in cat.get_slider_products %}
                                     {% render_product product %}
                                {% endfor %}

                                <div class="card viewMoreCard border-0" style="height: 100%;">
                                    <div class="card-body d-flex flex-column justify-content-center">
                                        <p style="font-size: 21px; line-height: 25px; margin-bottom: 20px">Try, Buy, or learn more about {{ cat.name }}.</p>
                                        <a class="learnMoreBtn" href="{{ cat.get_absolute_url }}">See All Products</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            {% elif products %}
                <div class="row">
                    {% for product in products %}
                        <div class="col-md-4 col-sm-6 mb-4">
                            {% render_product product %}
                        </div>
                    {% endfor %}
                </div>
                {% include "partials/pagination.html" %}
            {% else %}
                <p class="alert alert-info alert-dismissible fade show nonefound" role="alert">
                    <strong>Oops!</strong> No products found
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </p>
            {% endif %}


        </div>
    </div>
</div>