{% load menu_tags hyper_tags %}
{% load static %}

<section class="footer-top-section pt-5 pb-5 align-middle">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4">
                <div class="footer-list">
                    <h5>About Us</h5>
                    <ul class="nav flex-column text-white static-footer-nav">
                        <li class="nav-item"><a href="/career"> Career</a></li>
                        <li class="nav-item"><a href="/media-navana/news/"> Latest News</a></li>
                        <li class="nav-item"><a href="/media-navana/image-gallery/"> Gallery</a></li>
                        <li class="nav-item"><a href="/contact-us"> Contact Us</a></li>
                        <li class="nav-item"><a href="/faq"> FAQ</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-6 col-sm-4">
                <div class="footer-list text-white">
                    <div class="media mb-4">
                        <img class="mr-3" src="{% static 'themes/theme-5/img/land-mark.png' %}"
                             alt="location">
                        <div class="media-body">
                            <h5 class="mt-0">Registered Office:</h5>
                            <p>214/D, Tejgaon I/A, Dhaka-1208 <br>
                            Tel: 88-02-8836246, 8836255, Fax: 88-02-8836474</p>
                        </div>
                    </div>
                    <div class="media">
                        <img class="mr-3" src="{% static 'themes/theme-5/img/mobile-icon.png' %}"
                             alt="Contact number">
                        <div class="media-body">
                            <h5 class="mt-0">Phone & Email:</h5>
                          <p> 88-02-8836246, 8836255, Fax: 88-02-8836474 <br>
                            info@navanalpg.com</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4">
                <div class="footer-social-list footer-list">
                    <div class="media mb-4">
                        <img class="mr-3" src="{% static 'themes/theme-5/img/phone-icon-1.png' %}"
                             alt="Call number">
                        <div class="media-body">
                            <h5 class="mt-0 mb-0">01740 807391</h5>
                        </div>
                    </div>
                    <br>

                    <h5>Follow us </h5>
                    <ul class="nav-item d-inline-flex ml-auto">
                        {% if settings.base.ApplicationSettings.facebook_url %}
                        <li class="list-inline-item"><a target="blank"
                                                        href="{{ settings.base.ApplicationSettings.facebook_url }}"><img
                                src="{% static 'themes/theme-5/img/fb-icon.png' %}" alt="facebook" width="40px"></a></li>
                        {% endif %}
                        <!--{% if settings.base.ApplicationSettings.instagram_url %}-->
                        <!--<li class="list-inline-item"><a target="blank"-->
                                                        <!--href="{{ settings.base.ApplicationSettings.instagram_url }}"><i-->
                                <!--class="fa fa-instagram"></i></a></li>-->
                        <!--{% endif %}-->
                        <!--{% if settings.base.ApplicationSettings.twitter_url %}-->
                        <!--<li class="list-inline-item"><a target="blank"-->
                                                        <!--href="{{ settings.base.ApplicationSettings.twitter_url }}"><i-->
                                <!--class="fa fa-twitter"></i></a></li>-->
                        <!--{% endif %}-->
                        <!--{% if settings.base.ApplicationSettings.google_plus_url %}-->
                        <!--<li class="list-inline-item"><a target="blank"-->
                                                        <!--href="{{ settings.base.ApplicationSettings.google_plus_url }}"><i-->
                                <!--class="fa fa-google-plus"></i></a></li>-->
                        <!--{% endif %}-->
                        {% if settings.base.ApplicationSettings.youtube_url %}
                        <li class="list-inline-item"><a target="blank"
                                                        href="{{ settings.base.ApplicationSettings.youtube_url }}"><img
                                src="{% static 'themes/theme-5/img/yt-icon.png' %}" alt="youtube" width="40px"></a></li>
                        {% endif %}
                        {% if settings.base.ApplicationSettings.linkedin_url %}
                        <li class="list-inline-item"><a target="blank"
                                                        href="{{ settings.base.ApplicationSettings.linkedin_url }}"><img
                                src="{% static 'themes/theme-5/img/linkedin-icon.png' %}" alt="linkedin" width="40px"></a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

{% if settings.base.ApplicationSettings.footer %}
<footer class="footer-section">
    {% hyperfield_render settings.base.ApplicationSettings.footer.content %}
</footer>
{% endif %}
