{% load wagtailimages_tags hyper_tags %}
<div class="row justify-content-around justify-content-center">
    <div class="col-md-10 col-lg-8">
        <div class="row gutter-0 promo-box text-center">
            {% for promo in obj.settings.items %}
            <div class="col-sm-6 col-lg-4">
                <div class="card promo-{{ forloop.counter }}">
                    <div class="promo-img">
                        {% if promo.image %}
                            <img data-src="{{ promo.image.url }}" alt="{{ promo.heading }}" class="lazy img-fluid">
                        {% endif %}
                    </div>
                    <div class="card-body promo-content">
                        <h4>{{ promo.heading }}</h4>
                        {% if promo.description %}
                            {{ promo.description|safe }}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>