

/*video background*/


section .hero-slider{
    margin: auto;
    display: block;
    position: relative;
    overflow: hidden;
    height: 420px;
}

section .hero-slider{
    padding: 0;
}


@media (min-width: 768px){
  section .hero-slider .item.bg-image  {
      min-height: 420px;
      display: flex;
      align-items: center;
      justify-content: center;
  }
}
section .hero-slider > .item {
    height: 420px;
    padding: 0;
}




.background-image-wraper.background--top {
    background-position: 50% 0% !important;
}
.background-image-wraper:not([class*='col-']) {
    width: 100%;
}







// hero slider contents
.hero-slider{
  .hero-slider-contents{
    h2{
      font-size: 4.695645em;
    }
    p{
      color: $primary-color !important;
      font-size: 2em;
      font-weight: $bold;
    }
    .action-btn{
      .btn{
        padding: .75rem 3.5rem;
        font-size: 1.2em;
        text-transform: uppercase;
      }
    }
  }
}



@media (min-width: 320px) and (max-width: 768px) {
  section .hero-slider {
    height: auto;
  }
  .hero-slider{
    .hero-slider-contents{
      padding: 3em 0 !important;
      h2{
        font-size: 2.595645em !important;
        line-height: 1.32em;
      }
      p.lead{
        font-size: 15px;
      }
    }
  }


}








//owl-carousel dot

.dot-indicator-right{
  .owl-dots{
    position: absolute;
    right: 45%;
    bottom: 0;
    .owl-dot{
      span{
        width: 15px;
        height: 15px;
        border: 2px solid $custom-color;
      }
      &:hover{
        span{
          background: $secondary-color;
        }
      }

    }
    .owl-dot.active{
      span{
        background: $secondary-color;
      }
    }
  }
}

.multiplier-container {
    z-index: 0 !important;
}
#messages .close {
  padding: 4px;
}
.alertinner  {
  padding: 5px;
}

.cart_close_btn {
  float: right;
  overflow: hidden;
  margin-top: -30px;
  margin-right: 16px;
  padding: 5px;
}

.login {
  margin-top: 20px;
  margin-bottom: 30px;
}

//Email verification
.add_email input {
  width: 100%;
  padding: 4px 10px;
}

.email_change_box {
  padding: 15px !important;
}

.marginBottom70 {
  margin-bottom: 70px;
}

.email_change_box h1, h2 {
  text-align: center;
}

.email_verification_title {
  font-size: 25px;
  text-shadow: 1px 0 #000;
}

.marginTop {
  margin-top: 12px;
}
