{% load sekizai_tags static %}

<div class="contentBoxWrap counter-box-wrap" id="{{ obj.id }}">
    <div class="row">
        <div class="col">
            {% if obj.settings.actionUrl %}
                    <a href="{{ obj.settings.actionUrl }}" class="view-more-link">
                    <div class="single-counter-box">
                        <img src="{{ obj.settings.image.url }}" class="img-fluid" />
                        <h3>{{ obj.settings.title }}</h3>
                        <p>{{ obj.settings.subtitle }}</p>
                    </div>
                </a>
            {% endif %}

        </div>
    </div>
</div>



