{% load hyper_tags %}


<div class="row">
    <div class="col-2"></div>
    <div class="col-8 my-auto">
        <form method="GET" class="mt-2">
            {% if obj.settings.is_product_filter %}
                <div class="form-group mr-2">
                    <label for="product" class="mr-1">Product: </label>
                    <select name="product" id="product" class="form-control">
                        <option value="">All</option>
                        {% for product in products %}
                            <option value="{{ product.name }}" {% if requet.GET.product == product.name %}
                                    selected {% endif %}>{{ product.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}
            {% if obj.settings.is_service_filter %}
                <div class="form-group mr-2">
                    <label for="service" class="mr-1">Service: </label>
                    <select name="service" id="service" class="form-control">
                        <option value="">All</option>
                        {% for service in services %}
                            <option value="{{ service.title }}" {% if requet.GET.service == service.name %}
                                    selected {% endif %}>{{ service.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}
            <div class="form-row">
                <div class="form-group col-md-10">
                    <input type="text" name="keyword" value="{{ request.GET.keyword }}" placeholder="Keyword.."
                           class="form-control"/>
                </div>
                <div class="form-group col-md-2 m-0">
                    <button type="submit" class="btn btn-outline-info"><i class="fa fa-search"></i></button>
                </div>
            </div>

            {% comment %} <div class="form-group">
        <input type="text" placeholder="Search..." class="form-control" />
    </div> {% endcomment %}
        </form>
    </div>
    <div class="col-2"></div>
    <div class="col-12 col-md-2">
        <ul class="nav flex-column flex-nowrap overflow-hidden">
            {% for category in categories %}
                <li class="nav-item">
                    <a class="nav-link collapsed text-truncate" href="#submenu1" data-toggle="collapse"
                       data-target="#submenu1"><i class="fa fa-folder-open"></i> <span
                            class="d-none d-sm-inline">{{ category.name }}</span></a>
                    <div class="collapse" id="submenu1" aria-expanded="false">
                        <ul class="flex-column pl-2 nav">
                            {% for sub_cat in category.sub_categories.all %}
                                <li class="nav-item"><a class="nav-link py-0"
                                                        href="#"><i
                                        class="fa fa-angle-double-right">&nbsp;</i><span>{{ sub_cat.name }}</span></a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
            {% endfor %}
        </ul>
        {#        <ul class="nav flex-column">#}
        {#            {% for category in categories %}#}
        {#                <li class="nav-item">#}
        {#                    <a href="{{ request.path }}?product={{ request.GET.product }}&service={{ request.GET.service }}&category={{ category.slug }}">#}
        {#                        {{ category.name }}#}
        {#                    </a>#}
        {#                    <ul class="nav flex-column " style="padding-left:15px">#}
        {#                        {% for sub_cat in category.sub_categories.all %}#}
        {#                            <li class="nav-item">#}
        {#                                <a href="{{ request.path }}?product={{ request.GET.product }}&service={{ request.GET.service }}&category={{ category.slug }}&sub_category={{ sub_cat.slug }}">#}
        {#                                    {{ sub_cat.name }}#}
        {#                                </a>#}
        {#                            </li>#}
        {#                        {% endfor %}#}
        {#                    </ul>#}
        {#                </li>#}
        {#            {% endfor %}#}
        {#        </ul>#}
    </div>
    <div class="col-12 col-md-10">
        {% if knowledge_list %}
            {% for knowledge in knowledge_list %}
                <div>
                    <h4>{{ knowledge.title }}</h4>
                    {% hyperfield_render knowledge.content %}
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>

