

.ecomNav li  {
  a {
    color: #2a2a2a;
    i.fa {
      color: #666;
    }
  }

  .dropdown-toggle::after {
    display: none !important;
  }

  .dropdown-menu {
    top: 35px;
    a {
      text-transform: capitalize;
    }
  }
}


#headerWrap.sticky {
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 99;
  transition: all 0.3s ease-in;
  border-bottom: 1px solid #bfbebe;
}

#mobileNavWrap {
    width: 100%;
    max-width: 550px;
    height: 100%;
    position: fixed;
    top: 0;
    background: #fff;
    right: -600px;
    z-index: 9999;
    padding: 10px 20px;
    overflow-y: scroll;
    border-left: 8px solid #0067b4;
    transition: all .5s ease;

  .closeMobileNav {
    font-size: 32px;
  }
  .actions {
    border-bottom: 1px solid rgb(238, 238, 238);
    margin-bottom: 20px;
  }
  h5 {
    color: #9c9a9a;
    font-weight: normal;
  }

  .nav-link {
    text-decoration: none;
    text-transform: capitalize;
    font-weight: normal;
    display: block;
    padding: 10px;
    color: #0067b4;
    font-size: 18px;
    border-bottom: 3px solid rgb(238, 238, 238);
  }
  .ecomNav .nav-link {
    border: none;
  }

  .dropdown-mobile .dropdown-menu {
    position: relative;
    display: none;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: none;
    border: none;
    margin-left: 20px;
    border-left: 1px dashed #ddd;
    margin-bottom: 20px;
    z-index: 1;
    margin-top: 5PX;

    ul li {
      margin-bottom: 0;
      padding: 8px;

      a {
        .menu-list-info p {
          font-size: 16px !important;
          color: #666;
          font-weight: normal;
        }

        &:hover {
          .menu-list-info p {
            color: #0067b4;
          }
        }
      }
    }
  }
  .main-menu-group {
    margin-left: 20px;
    margin-bottom: 20px;
  }
}


.dropdown-link:after{
  content: "A";
  text-indent: -9999px;
  margin-left: 5px;
  float: right;
  font-size: 12px;
  width: 8px;
  background: url(/static/css/icons/down-arrow.svg) no-repeat center;
}
.show .dropdown-link:after {
  background: url(/static/css/icons/up_arrow.svg) no-repeat center;
}