{% load wagtailimages_tags %}

<div id="accordion_{{ obj.id }}" class="hyper-accordion mt-4 mb-4">

    <div class="accordion" id="accordion_{{ obj.id }}">

            <div class="card">
                {% for faq in obj.settings.items %}
                <div class="card-header">
                    <a href="#faq{{ forloop.counter }}" class="not-collapse" data-toggle="collapse"
                                data-target="#faq{{ forloop.counter }}" aria-expanded="true"
                                aria-controls="collapseOne">{{ faq.title}}
                    </a>
                </div>

                <div id="faq{{ forloop.counter }}" class="card-body collapse {% if forloop.counter == 1 %} show {% endif %}"
                     aria-labelledby="headingOne" data-parent="#accordion_{{ obj.id }}">
                   {{ faq.description|safe }}
                        {% if faq.url %}
                            <a href="{{ faq.url }}" target="_blank"><strong>View Details <i class="fa fa-angle-right"></i></strong></a>
                        {%endif%}
                </div>
                {% endfor %}
            </div>

        </div>

</div>
