/* import all scss file
   - Version:  1.0.0
   - Author:   @Aminul islam
*/


// Vendors
//@import '../../node_modules/bootstrap/scss/bootstrap';
//@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
//@import '../../node_modules/@fortawesome/fontawesome-free/scss/brands';
//@import '../../node_modules/@fortawesome/fontawesome-free/scss/regular';
//@import '../../node_modules/@fortawesome/fontawesome-free/scss/solid';
//@import '../../node_modules/@fortawesome/fontawesome-free/scss/v4-shims';
//@import '../../node_modules/slicknav/scss/slicknav';
//@import '../../node_modules/owl.carousel/src/scss/owl.theme.default';
//@import '../../node_modules/owl.carousel/src/scss/owl.carousel';


// Base
@import 'base/variable';
//@import 'base/reset';
//@import 'base/typography';
@import 'base/color';
@import 'base/global';
@import 'base/main_menu.scss';

// Components
@import 'components/buttons';
@import 'components/icons';
@import 'components/image-background';
@import 'components/form-elements';
@import 'components/navigation';
@import 'components/height-spacing';
@import 'components/cards';
@import 'components/pagination';
@import 'components/products';
@import 'components/category';
@import 'components/account';


// Helpers
@import 'helpers/functions';
@import 'helpers/mixins.button';



// Layout
@import 'layout/header';
@import 'layout/hero';
//@import 'layout/footer';
@import 'layout/responsive';
@import 'custom';
@import 'dit/application';

.pricingApp .sticky-top {
  top: 120px;
  z-index: 2;
}

.pricingApp.fullscreen {
  .sticky-top {
    top: 0;
    z-index: 2;
  }
}
.search_box {
  display: inline-block;
}


.dropdown-mobile .dropdown-menu {
  top: 0 !important;
  z-index: 2;
}

.dropdown-link:after {
    content: "A";
    text-indent: -9999px;
    margin-left: 5px;
    float: right;
    font-size: 12px;
    width: 8px;
    background: url(/static/icons/down-arrow.svg) no-repeat center;
}

.show .dropdown-link:after {
    background: url(/static/icons/up_arrow.svg) no-repeat center;
}


@media (min-width: 1245px) {
  .container {
      max-width: 1245px;
  }
}