{% load crispy_forms_tags hyper_tags %}

{% if obj.settings.form %}
{% if obj.settings.form.errors %}
{% for field in obj.settings.form %}
{% if field.errors %}
<li>{{ field.errors }}</li>
{% endif %}
{%endfor%}
{% endif %}
<div class="contact-form-wrap">
    <h3>{{ obj.settings.title }}</h3>
    <form id="{{ obj.id }}" method="post">
        {% csrf_token %}
        <input type="hidden" name="form_id" value="{{ obj.settings.form.id}}"/>
        {% if obj.settings.successPage %}
        <input type="hidden" name="success_url" value="{{ obj.settings.successPage.url }}"/>
        {% endif %}

        {% render_form obj.settings.form.id %}
        <!--<input id="btnSubmitNext" type="button" value="NEXT"/>-->
        <!--<input id="btnSubmitPrev" type="button" value="PREV"/>-->
    </form>
</div>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
        <li class="alert alert-success" role="alert">{% if message.tags %} {% endif %}<strong>Thank you!</strong> {{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<script type="text/javascript">
    window.onload = function (e) {
        $(document).ready(function () {
            $('.step2').hide()
            $('#btnSubmitPrev').hide()
            $("#btnSubmitNext").click(function () {
                $('.step1').hide();
                $('.step2').show();
                $('#btnSubmit').hide();
                $('#btnSubmitPrev').show()
            });
            $("#btnSubmitPrev").click(function () {
                $('.step1').show();
                $('.step2').hide();
                $('#btnSubmitNext').show();
                $('#btnSubmitPrev').hide()
            });
        });
    }

</script>
{% endif %}