{% load crispy_forms_tags %}

{% if obj.settings.form %}
    <div class="contact-form-wrap">
        <h3>{{ form.title }}</h3>
        <form id="{{ obj.id }}" method="post">
            {% csrf_token %}
            <input type="hidden" name="form_id" value="{{ obj.settings.form.id}}" />
            {% if obj.settings.successPage %}
                <input type="hidden" name="success_url" value="{{ obj.settings.successPage.url }}" />
            {% endif %}
            {% render_form obj.settings.form.id %}
        </form>
    </div>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}><strong>Thank you!</strong> {{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endif %}
