
<div id="{{ obj.id }}" class="{{ obj.general.classes }} image-content-slider-wrap">
    <div class="owl-carousel owl-theme image-content-slider">
        {% for slider in obj.settings.slides %}
            <div class="item">
                <div class="container">
                    <div class="row single-slider-content">
                        <div class="col-12 col-md-7">
                            <div class="slider-content">
                                <span>{{ slider.subTitle }}</span>
                                <h1>{{ slider.title }}</h1>
                                <p>{{ slider.shortDescription|safe }}</p>
                            </div>
                            <div class="hero-action-btn">
                                {% if slider.actionUrl %}
                                    <a href="{{ slider.actionUrl }}" class="btn solid-btn">{{ slider.actionTitle }} <i class="fa fa-angle-double-right"></i></a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-12 col-md-5">
                            <div class="slider-image mt-5">
                                <img data-src="{{ slider.image.url }}" alt="{{ slider.title }}" class="lazy img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

