
<div id="{{ obj.id }}" class="carousel slide  {{ obj.general.classes }}">
    <div class="owl-carousel owl-theme slider-bg-image slider-with-background-image">
        {% for slider in obj.settings.slides %}
            <div class="item" style="background: url('{{ slider.image.url }}')no-repeat center center / cover" >
               <div class="container">
                   <div class="single-content-wrap">
                       <span>{{ slider.subTitle }}</span>
                       <h1>{{ slider.title }}</h1>
                       <p>{{ slider.shortDescription|safe }}</p>
                   </div>
                   <div class="hero-action-btn">
                    {% if slider.actionUrl %}
                        <a href="{{ slider.actionUrl }}" class="btn solid-btn">{{ slider.actionTitle }} <i class="fa fa-angle-double-right"></i></a>
                    {% endif %}
                   </div>
               </div>
            </div>
        {% endfor %}
    </div>
</div>

