.news-single{
  border: 1px solid $border-color;
  margin-bottom: 30px;
  border-radius: 4px;
  img{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    width: 100%;
    display: block;
  }
  .news-contents{
    h2{
      font-size: 22px;
      line-height: 26px;
      margin-bottom: 5px;
    }
    small{
      margin-bottom: 10px;
      display: block;
    }
  }
}