// top bar

.topbar.bar-small {
    padding: 0.62857143em 0;
}
.topbar{
  font-size: 0.88714286em;
  padding: 0.62857143em 0;
  //topbar right side
  ul.list-inline{
    margin-bottom: 0;
    li{
      a{
        font-weight: $light;
        color: $body-color;
        i{
          color: $primary-color;
        }
        &:hover{
          color: $primary-color;
          i{
            color: $body-color;
          }
        }
      }
    }
  }
}


//header or middle navbar



//header bottom css

.header-bottom{
  .category-nav{
     background: rgba(0, 0, 0, 0.15);
    li{
      a{
        position: relative;
        display: block;
        font-size: 14px;
        font-family: $heading-font-family;
        padding: 0.90rem 1.12rem;
        span{
          position: absolute;
          right: 15px;
        }
      }
      .dropdown-menu{
        margin-top: -1px;
        padding: 0;
        li{
          a{
            color: $body-color;
            padding: .45rem 1rem;
            &:hover{
              background: $primary-color;
              color: $white-color;
              border-radius: 0;
            }
            &:active{
              background: $primary-color;
              color: $white-color;
              border-radius: 0;
            }
          }
        }
      }
    }
  }
  //search box
  .custom-search-field{
    input{

    }
    .form-control{

      border-radius: 30px;
    }
    .input-group-append{
      position: relative;
      z-index: 99;
      right: 80px;
       button{
         background: $dark-color;
         border-radius: 0 30px 30px 0;
         i{
          font-weight: $bold;
         }
       }
    }

  }

  //basket nav
  .basket-mini{
    ul{
      li{
        a{
          display: inline-block;
        }
      }
    }
  }

}



//main menu css
.dropdown-submenu .dropdown-menu {

}


.main-menu{
  li{
    a{
      font-size: 14px;
      font-family: $heading-font-family;
      padding: .75rem 0.8rem !important;

      &:hover{
        cursor: pointer;
        background: $primary-color;
        color: $white-color !important;
        border-radius: 2px;
      }

      &:active{
        background: $primary-color;
        color: $white-color;
        border-radius: 0;
      }
    }

    ul.dropdown-menu{
      padding: 0;
      margin-top: 0;
      li.dropdown-submenu{
        position: relative;
        a{
          padding: 0.45rem 1rem !important;
          &:after{
            transform: rotate(-90deg);
            position: absolute;
            right: 6px;
            top: 45%;
          }
        }
        .dropdown-menu{
          top: 0;
          left: 100%;
          margin-left: -1px;
        }
      }
    }

    //last child dropwoan
    &:last-child.dropdown{
      ul.dropdown-menu{
        .dropdown-submenu{
          .dropdown-menu{
            right: 100%;
            left: inherit;
            margin-right: -1px;
          }
          &:after{

          }
        }
      }

    }
  }
  .active{
    background: $primary-color;
    border-radius: 2px;
    color: $white-color !important;
    a{
      color: $white-color !important;
    }
  }
}










////sticky-footer
//.main-container-wrap{
//  margin-bottom: 75px;
//}
//footer.sticky-footer{
//   position: fixed;
//    left: 0;
//    right: 0;
//    bottom: 0;
//    z-index: 5;
//}

