{% load menu_tags hyper_tags %}
{% load hyper_tags util_tags sekizai_tags %}

<section id="headerWrap">
    <div class="header-top-section">
        {% if settings.base.ApplicationSettings.header_top %}
        <div class="hotline-text">
            {% hyperfield_render settings.base.ApplicationSettings.header_top.content %}
        </div>
        {% endif %}
    </div>


    <header id="header" class="header">
        {% megamenu code='main_menu' %}
    </header>

    <div class="clearfix"></div>

    <section class="header_bottom">
        {% megamenu code='site_menu' %}
    </section>

</section>

<section id="mobileNavWrap">
    <div class="actions d-flex flex-row justify-content-center align-items-center">
        <div class="flex-grow-1">
            {% if django_settings.OSCAR_MENU_API %}
                {% remote_content url=django_settings.OSCAR_MENU_API js=True %}
            {% endif %}
        </div>
        <button type="button" class="btn btn-link closeMobileNav">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle"><circle cx="12" cy="12" r="10"></circle><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg>
        </button>
    </div>
    {% megamenu code='site_menu' mobile=True %}
    {% megamenu code='main_menu' mobile=True %}
</section>
