{% load util_tags %}

<meta name="theme-color" content="#310C73">

<meta name="description" content="{{ page.search_description }}" />
{% if  page.seo_keyword %}
<meta name="keywords" content="{{ page.seo_keyword }}" />
{% endif %}
<meta name="viewport" content="width=device-width, initial-scale=1" />

<meta property="og:locale" content="en_US">

<meta property="og:type" content="{{ settings.base.ApplicationSettings.open_graph_type }}">
{% with settings.base.ApplicationSettings.facebook_app_id as fb_app_id %}
    {% if fb_app_id %}
        <meta property="fb:app_id" content="{{ fb_app_id }}">
    {% endif %}
{% endwith %}

{% with settings.base.ApplicationSettings.facebook_admins as fb_admins %}
    {% if fb_admins %}
        <meta property="fb:admins" content="{{ fb_admins }}">
    {% endif %}
{% endwith %}


<meta property="og:title" content="{{ page.og_title }}">
<meta property="og:description" content="{{ page.og_description }}">

{% with self.get_site.site_name as site_name %}
    {% if site_name %}
        <meta property="og:site_name" content="{{site_name}}">
    {% endif %}
{% endwith %}

<meta name="twitter:card" content="summary">
<meta name="twitter:description" content="{{ page.og_description }}">
<meta name="twitter:title" content="{{ page.og_title }}">

{% if page.og_image %}
{% image page.og_image original as tmp_photo %}
<meta name="twitter:image" content="{{ page.get_site.root_url }}{{ tmp_photo.url }}">
<meta property='og:image' content='{{ page.get_site.root_url }}{{ tmp_photo.url }}'>
<meta property="og:image:url" content="{{ page.get_site.root_url }}{{ tmp_photo.url }}">
{% endif %}

{% if page.head_context %}
    {{ page.head_context|safe }}
{% endif %}