{% load menu_tags hyper_tags %}
{% load hyper_tags sekizai_tags %}

<!--
 Theme-11 header
 Mbr-Sagor 17-12-2019
-->

<!-- start header top -->
{% if settings.base.ApplicationSettings.header_top %}
<section class="header_top">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="header_top_mail">
                    {% hyperfield_render settings.base.ApplicationSettings.header_top.content %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}
<!--  end header top -->

<!-- start header -->
<header class="header_1" id="fix_nav">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="logo11">
                    {% if settings.base.ApplicationSettings.website_logo %}
                    <a class="logo_normal" href="/">
                        <img src="{{ settings.base.ApplicationSettings.website_logo.url }}"
                             alt="{{ self.get_site.site_name }}"/>
                    </a>
                    {% else %}
                    {{ self.get_site.site_name }}
                    {% endif %}
                    <a class="logo_fix_header" href="/">
                        <img src="/media/images/Ai-Cyber--min.original.png" alt="{{ self.get_site.site_name }} Logo"/>
                    </a>
                </div>
            </div>
            <div class="col-lg-9 col-md-9">
                <div class="mobileMenuBar">
                    <a href="javascript: void(0);"><i class="fa fa-bars"></i></a>
                </div>
                <nav class="mainmenu">
                    {% megamenu %}
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- end header -->


<!--<header id="header" class="header">-->
<!--    <nav class="navbar navbar-expand-lg bg-light header-menu">-->

<!--        <div class="container">-->
<!--            &lt;!&ndash; Start Header Navigation &ndash;&gt;-->
<!--            <a class="navbar-brand" href="/">-->
<!--                {% if settings.base.ApplicationSettings.website_logo %}-->
<!--                    <img src="{{ settings.base.ApplicationSettings.website_logo.url }}" class="logo logo-display img-fluid" alt="{{ self.get_site.site_name }} Logo" />-->
<!--                {% else %}-->
<!--                    {{ self.get_site.site_name }}-->
<!--                {% endif %}-->
<!--            </a>-->
<!--          <button class="navbar-toggler" id="sidebarCollapse" type="button" data-toggle="collapse" aria-controls="navbarSupportedContent" aria-expanded="false">-->
<!--            <span class="fa fa-bars"></span>-->
<!--          </button>-->

<!--            &lt;!&ndash; End Header Navigation &ndash;&gt;-->

<!--            &lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;-->
<!--            <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--                {% megamenu %}-->
<!--            </div>&lt;!&ndash; /.navbar-collapse &ndash;&gt;-->
<!--        </div>-->
<!--    </nav>-->
<!--</header>-->

<!--<div class="wrapper2">-->
<!--    {% megamenu template="wagtailhyper/mobilemenu.html" %}-->
<!--</div>-->
<!--<div class="clearfix"></div>-->


