{% load menu_tags %}

<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo_normal" href="/">
                {% if settings.base.ApplicationSettings.website_logo %}
                <img src="{{ settings.base.ApplicationSettings.website_logo.url }}" height="25px"
                     alt="{{ self.get_site.site_name }} Logo"/>
                <link rel="icon" href="">
                {% else %}
                {{ self.get_site.site_name }}
                {% endif %}
            </a>
            <a class="logo_fix_header" href="/">
                <img src="/media/images/Ai-Cyber--min.original.png" alt="{{ self.get_site.site_name }} Logo"/>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            {% main_menu max_levels=3 use_specific=USE_SPECIFIC_TOP_LEVEL %}
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>