{% load wagtailimages_tags hyper_tags sekizai_tags static %}
{% addtoblock 'css' %}
<link rel="stylesheet" type="text/css" href="{% static 'css/timeline.css' %}" />
<style type="text/css">
    .NewsBlock{
        padding: 0 15px;
    }
    .timeline-content-area{
        width: 100%;
        min-height: 700px;
        display: block;
        position: relative;
    }
    .tl-slidenav-content-container .tl-slidenav-title{
        display: none !important;
    }
    .tl-text-content{
        padding: 15px 0;
    }
    .tl-text-content h2{
        font-size: 24px;
        line-height: 28px;
    }
    .tl-text-content h3{
        font-size: 18px;
        line-height: 24px;
    }
    .tl-slide-text-only .tl-slide-content-container .tl-slide-content .tl-text{
        max-width: 100% !important;
        width: 100% !important;
        display: block;
    }
    .tl-slide .tl-slide-content-container .tl-slide-content{
        width: 100%!important;
    }
</style>
{% endaddtoblock %}

<div class="row NewsBlock" id="{{ obj.id }}">
    {% for news in news_list %}
        <div class="d-none mt-4" id="news-single-{{ news.id }}">
            {% hyperfield_render news.content %}
        </div>
    {% endfor %}

    <div class="timeline-content-area">
        <div id="timeline"></div>
    </div>
</div>

{% addtoblock 'js' %}
    <script src="{% static 'js/timeline.js' %}"></script>
    <script type="text/javascript">
        (function () {
            $(document).ready(function() {
                var TIMELINE_DATA = []
                {% for news in news_list %}
                    TIMELINE_DATA.push({
                        'start_date': {
                            'year': {{ news.date|date:'Y' }},
                            'month': {{ news.date|date:'m' }},
                            'day': {{ news.date|date:'d' }},
                        },
                        'text': {
                            'headline': '{{ news.title }}',
                            'text': $('#news-single-{{ news.id }}').html()
                        }
                        {% if news.image %},
                            {% image news.image original as thumb %}
                            'media': {
                                'url':'{{ thumb.url }}',
                                'thumbnail':'{{ thumb.url }}'
                            }
                        {% endif %}
                    })
                {% endfor %}
                console.log(TIMELINE_DATA)
            
                console.log('loading timeline')
                var timeline = new TL.Timeline('timeline', {
                    'events':TIMELINE_DATA                    
                }, {
                    'start_at_end': true
                })
            })
        })()
    </script>
{% endaddtoblock %}