{% load wagtailimages_tags %}

<div class="row ProductsBlock" id="{{ obj.id }}">
    <ul>
        <li class="at-grid" data-column="3">
            {% for products in obj.settings.items %}
                <div class="at-column">
                    <div class="bg-img">
                        <img data-src="{{ products.bgImage.url }}" class="lazy img-fluid" alt="image"/>
                    </div>
                    <div class="product-content-wrap">
                        <div class="logo-img">
                            <img data-src="{{ products.logoImage.url }}" class="lazy img-fluid" alt="{{ products.logo }}"/>
                        </div>
                        <p>{{ products.sortDescription }}</p>
                        <ul class="product-features-list">
    
                            {% if products.ovrviewUrl %}
                            <li>
                                <a href="{{ products.ovrviewUrl }}" target="_blank">Overview <span class="float-right"><i class="fa fa-angle-right"></i></span></a>
                            </li>
                            {% endif %}
                            {% if products.productWebsiteUrl %}
                            <li>
                                <a href="{{ products.productWebsiteUrl }}" target="_blank">Product Website <span class="float-right"><i class="fa fa-angle-right"></i></span></a>
                            </li>
                            {% endif %}
                            {% if products.pricingUrl %}
                            <li>
                                <a href="{{ products.pricingUrl }}" target="_blank">Pricing <span class="float-right"><i class="fa fa-angle-right"></i></span></a>
                            </li>
                            {% endif %}
                            {% if products.quoteUrl %}
                            <li>
                                <a href="{{ products.quoteUrl }}" target="_blank">Demo Request <span class="float-right"><i class="fa fa-angle-right"></i></span></a>
                            </li>
                            {% endif %}
                            {% if products.solutionsUrl %}
                            <li>
                                <a href="{{ products.solutionsUrl }}" target="_blank">Solutions <span class="float-right"><i class="fa fa-angle-right"></i></span></a>
                            </li>
                            {% endif %}
                            {% if products.industriesUrl %}
                            <li>
                                <a href="{{ products.industriesUrl }}" target="_blank">Industries <span class="float-right"><i class="fa fa-angle-right"></i></span></a>
                            </li>
                            {% endif %}
                            
                            
                            {% if products.downloadUrl %}
                            <li>
                                <a href="{{ products.downloadUrl }}" target="_blank">Download <span class="float-right"><i class="fa fa-angle-right"></i></span></a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                    {% if products.price%}
                    <div class="product-pricing-wrap">
                        <h5>{{ products.price }}</h5>
                        <p>{{ products.sortSubHeading }}</p>
                    </div>
                    {% endif %}
                </div>
            {% endfor %}
        </li>
        
    </ul>
</div>
