{% load util_tags %}
<div id="{{ obj.id }}">
    <h2>{{ obj.settings.title }}</h2>
    {% if menuItems %}
        <ul class="nav flex-column menu-with-icon">
            {% for menuItem in menuItems %}
            <li class="nav-item">
                <a href="{{ menuItem.get_url }}">
                    {% if menuItem.image %}
                        <div class="menu-image">
                                {% image menuItem.image fill-14x14 %}
                        </div>
                    {% endif %}
                    <div class="menu-text">
                        {{ menuItem.title }} <br>
                        <span id="menuDescription">{{ menuItem.description }}</span>
                    </div>
                </a>
            </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
