
<div id="{{ obj.id }}" class="carousel slide hyper-testimonial-slider-wrap justify-content-md-center {{ obj.general.classes }}" data-ride="carousel">
        <ol class="carousel-indicators">
            {% for slider in obj.settings.slides %}
                <li data-target="#{{ obj.id }}" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.counter0 == 0 %}active{% endif %}">

                </li>
            {% endfor %}
        </ol>
        <div class="carousel-inner">
            {% for slider in obj.settings.slides %}
                <div class="carousel-item hyp-testimonial-slider {% if forloop.counter0 == 0 %}active{% endif %}">
                    <div class="testimonial-author-info">
                        <img class="rounded-circle float-left" src="{{ slider.image.url }}">
                        <div class="author-name">
                            <h6>{{ slider.title }}</h6>
                            <p>{{ slider.subTitle }}</p>
                        </div>
                    </div>
                    <div class="testimonial-message">
                        <p>{{ slider.shortDescription|safe }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
{#        <a class="carousel-control-prev" href="#{{ obj.id }}" role="button" data-slide="prev">#}
{#            <span class="carousel-control-prev-icon" aria-hidden="true"></span>#}
{#            <span class="sr-only">Previous</span>#}
{#        </a>#}
{#        <a class="carousel-control-next" href="#{{ obj.id }}" role="button" data-slide="next">#}
{#            <span class="carousel-control-next-icon" aria-hidden="true"></span>#}
{#            <span class="sr-only">Next</span>#}
{#        </a>#}
</div>