
{% load basket_tags %}
{% load display_tags %}
{% load i18n %}
{% load purchase_info_tags %}
{% load ecommerce_tags %}
{% load humanize %}
{% load dit_tags %}

{% purchase_info_for_product request product as session %}

{% url 'autodeploy:start-free-trial' slug=product.slug as freeTrialUrl %}


    {% if session.availability.is_available_to_buy %}
        {% basket_form request product as basket_form %}

        {% url 'basket:add' pk=product.pk as addToCartUrl %}
        {% abs_url addToCartUrl as addToCartFullUrl %}

        {% if popup and not is_hidden %}

            <!-- Button trigger modal -->

            <div>
                {% if product.free_trial_available %}
                    <a href="{% abs_url freeTrialUrl %}" class="btn btn-outline-primary mb-2">
                        Free Trial
                    </a>
                {% endif %}
                <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                        data-target="#addToCartModal-{{ product.id }}" id="addToCartBtn-{{ product.id }}">
                    {% if product.should_view_customize_button %}
                        Customize
                    {% else %}
                        Select
                    {% endif %}
                </button>
            </div>


            <!-- Modal -->
            <div class="modal fade text-left" id="addToCartModal-{{ product.id }}" tabindex="-1" role="dialog"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    {% if product.should_view_customize_button %}
                        <form action="{% abs_url product.get_customize_url %}" method="get" class="modal-content">
                    {% else %}

                        <form action="{{ addToCartFullUrl }}" method="post" class="modal-content">
                        {% csrf_token %}
                    {% endif %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{ product.get_title }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        {% if product.should_view_customize_button %}
                            {% customize_attr_form product as cform %}
                            {% include "partials/form_fields.html" with form=cform %}

                            {% if request.user.is_authenticated %}
                                {% configuration_history product=product user=request.user as conf_history %}

                                {% if conf_history.count > 0 %}
                                    <h6 class="text-muted">History</h6>
                                {% endif %}
                                <div class="list-group">
                                {% for conf in conf_history %}
                                    <a class="list-group-item text-sm-left" href="{{ product.get_customize_url }}?for={{ conf.identifier }}&ref={{ conf.ref }}">
                                        <div class="d-flex w-100 justify-content-between">
                                          <span>{{ conf.identifier }}</span>
                                          <small>{{ conf.updated_at|naturaltime }}</small>
                                        </div>
                                    </a>
                                {% endfor %}
                                </div>
                            {% endif %}
                        {% else %}
                            {% include "partials/form_fields.html" with form=basket_form %}
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        {% if product.should_view_customize_button %}
                            <button type="submit" class="btn secondary-btn my-2 btn-small">Customize</button>
                        {% else %}
                            <button type="submit" class="btn secondary-btn my-2 btn-small">Add To Cart</button>
                        {% endif %}
                    </div>
                    </form>
                </div>
            </div>



        {% else %}
            <div class="add-to-basket-wrap">

                <form id="add_to_basket_form" {% if is_hidden %} style="display:none" {% endif %} action="{{ addToCartFullUrl }}" method="post"
                      class="add-to-basket mr-3">
                    {% csrf_token %}


                    {% include "partials/form_fields.html" with form=basket_form %}

                    <button type="submit" class="btn secondary-btn my-2 btn-small">Add To Cart</button>
                </form>

                {#        {% iffeature "wishlists" %}#}
                {#            {% if not is_hidden %}#}
                {#                {% include "catalogue/partials/add_to_wishlist.html" %}#}
                {#            {% endif %}#}
                {#        {% endiffeature %}#}
            </div>
        {% endif %}
    {% else %}
        <div class="add-to-basket-wrap">
            {% if has_active_alert %}
                <span class="mb-2 small-text">{% trans "You have an active stock alert for this product." %}</span>
            {% else %}
                <span class="mb-2 small-text">{% trans "You can get an email alert when this product is back in stock." %}</span>
                <form id="alert_form" method="post" action="{% url 'customer:alert-create' pk=product.id %}"
                      class="add-to-basket mr-3">
                    {% csrf_token %}
                    {% include "partials/form_fields.html" with form=alert_form %}
                    <button type="submit" class="btn accent-btn btn-small my-2">Notify me</button>
                </form>
            {% endif %}
            {% iffeature "wishlists" %}
                {% include "catalogue/partials/add_to_wishlist.html" %}
            {% endiffeature %}
        </div>
    {% endif %}