<section class="pricing py-5">

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-white font-weight-light mb-5 pt-0">Choose Your Package</h2>
            </div>
        </div>
        <div class="row">
            {% for child in product.variants %}

                <div class="d-flex col-lg-3">
                    {% include 'catalogue/partials/product_with_pricing.html' with product=child %}
                </div>
            {% endfor %}
        </div>
    </div>
</section>