<div class="card mb-5 mb-lg-0 d-flex flex-grow-1">

    <div class="card-body text-left d-flex flex-column">
        <h5 class="card-title text-white text-uppercase text-left mb-4">{{ product.title }}</h5>

        <div class="mb-4" style="color: #eee; border-bottom: 1px solid #666 !important">
            {{ product.short_description|safe }}
        </div>
        {% if not product.dummy %}
            {% if not product.should_view_customize_button %}
                <h6 class="card-price text-left text-white mb-4" style="font-size: 18px">{% include "catalogue/partials/stock_record.html" with product=product %}</h6>
            {% endif %}

            <div class="d-flex flex-column justify-content-end flex-grow-1">
                {% include "catalogue/partials/add_to_basket_form.html" with product=product popup=True %}
            </div>
        {% endif %}
    </div>
</div>