Babel==2.7.0
cachetools==3.1.1
certifi==2019.9.11
chardet==3.0.4
defusedxml==0.6.0
-e git+https://shimul:vyWhqSgMPXByfETWRwGw@git.divineit.net/web/dit_email_addon.git@22874c8f7e56db133232369c1cf4e81e72134bfa#egg=dit_email_addon
Django==2.0.13
django-allauth==0.40.0
django-classy-tags==0.9.0
django-constance==2.4.0
django-extra-views==0.11.0
django-filer==1.6.0
django-filter==2.2.0
django-haystack==2.8.1
django-js-asset==1.2.2
django-mptt==0.9.1
django-oscar==1.6
django-oscar-api==1.6.2
django-phonenumber-field==2.0.1
django-picklefield==2.0
django-polymorphic==2.0.3
django-sekizai==1.0.0
django-tables2==1.21.2
django-treebeard==4.3
django-widget-tweaks==1.4.5
-e git+https://shimul:vyWhqSgMPXByfETWRwGw@git.divineit.net/shimul/django-hyper.git@341fe83926fa0d500503cfb9e5d993ef7c3b0823#egg=djangohyper
djangorestframework==3.9.4
easy-thumbnails==2.6
factory-boy==2.12.0
Faker==2.0.4
google-api-python-client==1.7.11
google-auth==1.7.1
google-auth-httplib2==0.0.3
httplib2==0.14.0
idna==2.8
mock==2.0.0
numpy==1.17.4
oauth2client==4.1.3
oauthlib==3.1.0
pandas==0.25.3
pbr==5.4.3
phonenumbers==8.10.23
Pillow==6.2.1
purl==1.5
pyasn1==0.4.8
pyasn1-modules==0.2.7
python-dateutil==2.8.1
python3-openid==3.1.0
pytz==2019.3
requests==2.22.0
requests-oauthlib==1.3.0
rsa==4.0
six==1.13.0
sorl-thumbnail==12.4.1
text-unidecode==1.3
Unidecode==1.0.23
uritemplate==3.0.0
urllib3==1.22
Whoosh==2.7.4
xlrd==1.2.0
