{% load display_tags %}
{% load i18n %}


{% if paginator.num_pages > 1 %}
    <div class="d-flex flex-row w-100 pagination-wrapper">
        <p class="flex-grow-1 mb-3">
            {% blocktrans with page_num=page_obj.number total_pages=paginator.num_pages %}
                Page {{ page_num }} of {{ total_pages }}
            {% endblocktrans %}
        </p>
        <ul class="pagination mb-0">
            {% if page_obj.has_previous %}
              <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}"><i class="ti-angle-double-left"></i></a></li>
            {% else %}
              <li class="page-item disabled">
                  <a class="page-link">
                    <i class="ti-angle-double-left"></i>
                  </a>
              </li>
            {% endif %}
            {% for i in page_obj.paginator.page_range %}
              {% if page_obj.number == i %}
                <li class="page-item active">
                    <a class="page-link" href="#">
                        <span>{{ i }} <span class="sr-only">(current)</span></span>
                    </a>
                </li>
              {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
              <li class="page-item">
                  <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                    <i class="ti-angle-double-right"></i>
                  </a>
              </li>
            {% else %}
              <li class="page-item  disabled">
                <a class="page-link" href="#">
                    <i class="ti-angle-double-right"></i>
                  </a>
              </li>
            {% endif %}
          </ul>
    </div>

{% endif %}