{% load wagtailimages_tags %}

<div class="social-list" id="{{ obj.id }}">
    <ul class="list-inline">
        {% if obj.settings.facebook_url %}
            <li class="list-inline-item"><a href="{{ obj.settings.facebook_url }}"> <i class="fa fa-facebook"></i></a></li>
        {% endif %}
        {% if obj.settings.youtube_url %}
            <li class="list-inline-item"><a href="{{ obj.settings.youtube_url }}"> <i class="fa fa-youtube"></i></a></li>
        {% endif %}
        {% if obj.settings.linkedin_url %}
            <li class="list-inline-item"><a href="{{ obj.settings.linkedin_url }}"> <i class="fa fa-linkedin"></i></a></li>
        {% endif %}
        {% if obj.settings.twitter_url %}
            <li class="list-inline-item"><a href="{{ obj.settings.twitter_url }}"> <i class="fa fa-twitter"></i></a></li>
        {% endif %}
        {% if obj.settings.wechat_url %}
            <li class="list-inline-item"><a href="{{ obj.settings.wechat_url }}"><i class="fa fa-wechat"></i></a></li>
        {% endif %}
        {% if obj.settings.skype_url %}
            <li class="list-inline-item"><a href="skype:{{ obj.settings.skype_url }}?chat"><i class="fa fa-skype"></i></a></li>
        {% endif %}
        {% if obj.settings.instagram_url %}
            <li class="list-inline-item"><a href="{{ obj.settings.instagram_url }}"><i class="fa fa-instagram"></i></a></li>
        {% endif %}
        {% if obj.settings.whatsapp_url %}
            <li class="list-inline-item"><a href="tel:{{ obj.settings.whatsapp_url }}"><i class="fa fa-whatsapp"></i></a></li>
        {% endif %}
    </ul>
</div>
