{% load wagtailimages_tags %}
<div class="astral_social footer_social_media" id="{{ obj.id }}">

    {% if obj.settings.facebook_url %}
    <a href="{{ obj.settings.facebook_url }}"><i class="fa fa-facebook"></i></a>
    {% endif %}
    {% if obj.settings.twitter_url %}
    <a href="{{ obj.settings.twitter_url }}"><i class="fa fa-twitter"></i></a>
    {% endif %}
    {% if obj.settings.youtube_url %}
    <a href="{{ obj.settings.youtube_url }}"><i class="fa fa-youtube"></i></a>
    {% endif %}
    {% if obj.settings.linkedin_url %}
    <a href="{{ obj.settings.linkedin_url }}"><i class="fa fa-linkedin"></i> </a>
    {% endif %}
    {% if obj.settings.skype_url %}
    <a href="skype:{{ obj.settings.skype_url }}?chat"><i class="fa fa-skype"></i></a>
    {% endif %}
    {% if obj.settings.wechat_url %}
    <a href="{{ obj.settings.wechat_url }}"><i class="fa fa-wechat"></i></a>
    {% endif %}
    {% if obj.settings.instagram_url %}
    <a href="{{ obj.settings.instagram_url }}"><i class="fa fa-instagram"></i></a>
    {% endif %}
    {% if obj.settings.whatsapp_url %}
    <a href="{{ obj.settings.whatsapp_url }}"><i class="fa fa-whatsapp"></i></a>
    {% endif %}

</div>