.hyper-tab{
  border-top: solid 1px $secondary-color;
  background: $secondary-color;
  color: $white;
  border-radius: 4px 4px 0 0;
  .justify-content-center{
    border: none;
    li{
      border-right: 1px solid $secondary-color;
      margin-bottom: 0;
      &:last-child{
        border-right: none;
      }
      a.nav-link-one{
        padding: 10px 30px;
        border-radius: 4px 4px 0 0;
        border: none;
        text-align: center;
        color: $theme-color;
        img{
          margin: 0 auto;
        }
        p{
          font-size: 14px;
        }
      }
      .active{
          background: $theme-color !important;
          position: relative;
          display: block;
          width: 100%;
        p{
          color: $primary-color;
        }
      }
      &:hover{
        background: $background-color-active !important;
      }
    }
  }
}
.container.tab-contents{
  border-left: solid 1px $secondary-color;
  border-right: solid 1px $secondary-color;
  border-bottom: solid 1px $secondary-color;
  padding: 30px;
  border-radius: 0 0 4px 4px;
}


.tab-three{
  border-top: none;
  .nav-tabs-vertical{
    float: left;
    display: inline-block;
    overflow: hidden;
    li{
      margin-bottom: 0;
      a{
        display: block;
        overflow: hidden;
        border: 1px solid $border-color;
        img{
          float: left;
          margin-right: 10px;
          display: inline-block;
        }
        p{
         float: left;
          color: $p-color;
          font-size: 18px;
        }
        border-radius: 0;
      }
      .active{
        p{
          color: $primary-color;
        }
      }
    }
    .active{
      border-right: none;
        border-color: $primary-color;
      border-right: none;
    }
  }

  .tab-content-three{
    .active{
      display: block;
      overflow: hidden;
      padding: 25px;
    }
  }

}
