.counter-box-wrap{
  .single-counter-box{
    padding: 15px;
    border: solid 1px $border-color;
    margin-bottom: 15px;
    text-align: center;
    display: block;
    border-radius: 4px;
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
    min-height: 180px;
    &:hover{
      h3{
        color: $primary-color-rgba;
      }
      border-color: $primary-color-rgba;
      box-shadow: 0 35px 25px -20px rgba(0, 0, 0, 0.10);
    }
    &:focus{
      h3{
        color: $primary-color-rgba;
      }
      border-color: $primary-color-rgba;
      box-shadow: 0 35px 25px -20px rgba(0, 0, 0, 0.1);
    }

    h3{
      margin-bottom: 5px;
       -webkit-transition: all 0.4s ease-in;
      transition: all 0.4s ease-in;
    }
    p{
      font-size: 15px;
      line-height: 18px;
    }

  }

}

.counter-circle{
  position: relative;
  display: block;
  margin: 2em 0;
  background-color: transparent;
  text-align: center;
  transition: all 0.3s ease-in;
  &:after{
    display: block;
  padding-bottom: 100%;
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: $white;
    border: 2px solid $primary-color;
  content: "";
  }
  .circle-counter-wrap{
     position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .circle-counter{
      display: table;
      width: 100%;
      height: 100%;

      .circle-content{
        display: table-cell;
        padding: 1em;
        vertical-align: middle;
        .circle-icon{
          img{
            text-align: center;
            vertical-align: middle;
            position: relative;
            -webkit-box-flex: 0;
            -webkit-transition: all .3s ease;
            transition: all .3s ease;
            margin-bottom: 12px;
          }
        }

        h3{
          font-size: 35px;
          line-height: 40px;
          margin-bottom: 0;
           -webkit-transition: all 0.4s ease-in;
          transition: all 0.4s ease-in;
        }
        p{
          font-size: 18px;
          line-height: 26px;
        }
      }
    }
  }

  &:hover{
    cursor: pointer;
    &:after{
      background: $primary-color;
    }
    .circle-content{
      color: $white;
      h3{
        color: $white;
      }
      img{

        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        transition: all .3s ease-in;
        -webkit-transition: all .3s ease-in;
      }
    }

  }

}
