.image-wrap{
  display: block;
  .client-image{
    img{
      display: block;
      margin: 0 auto  ;
      line-height: 0;
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
      transition: all 0.3s ease-in;
      &:hover{
        cursor: pointer;
        -webkit-filter: grayscale(0);
        filter: none;
      }
    }
    margin-bottom: 15px;
  }
}