{% load menu_tags %}
<header id="header" class="header">
    <nav class="navbar navbar-default navbar-transparent dark bootsnav custom-menu single-page-menu">

        <div class="container">
            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#navbar-menu">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/">
                    {% if settings.base.ApplicationSettings.website_logo %}
                        <img src="{{ settings.base.ApplicationSettings.website_logo.url }}" class="logo logo-display" alt="{{ self.get_site.site_name }} Logo" />
                        <link rel="icon" href="">
                    {% else %}
                        {{ self.get_site.site_name }}
                    {% endif %}
                </a>
            </div>
            <!-- End Header Navigation -->


            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu">
                {% flat_menu "main_menu" template='partials/top_menu_home.html' %}
            </div><!-- /.navbar-collapse -->

        </div>
    </nav>
</header>
<!--header section end-->
