{% load wagtailimages_tags %}
<div class="justify-content-center" id="{{ obj.id }}">
    <div class="container">
        <div class="row lightBoxGallery">
            {% for imagegallery in obj.settings.items %}
            <div class="col-sm-6 col-md-2 col-lg-2 custom_padding_margin" data-aos="fade" data-src="{{ imagegallery.image.url }}" data-sub-html="{{ imagegallery.name }}">
                     <a href="#">
                         <img src="{{ imagegallery.image.url }}" class="img-fluid">
                     </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<style>
    .custom_padding_margin {
        padding-left: 5px;
        padding-right: 5px;
    }
    .lg-backdrop {
        background: #ffffff !important;
    }
    .lg-outer .lg-thumb-outer {
        background: #ffffff !important;
    }
    .lg-outer .lg-toogle-thumb {
        background-color: #dee2e6 !important;
    }
</style>
