.hyper-accordion{
    // .card{
    //     margin-bottom: 20px;
    //     .card-header:after {
    //         font-family: FontAwesome;
    //         content: "\f107";
    //         float: right;
    //         color: grey;
    //     }
        
    //     .card-header[aria-expanded="true"]:after {
    //         content: "\f106";
    //     }
        
    // }

    .card-header{
        padding: 0;
        button{
            display: block;
            text-decoration: none;
        }
    }
    .card-body{
        padding: 15px;
    }
}

