{% load hyper_tags %}
<style>
    .pAttr {
        width: 250px;
        align-self: stretch;
        padding: 10px;
        border-bottom: 1px solid #eee;
        border-left: 1px solid #eee;
    }
    .pAttr.noBorder {
        border-left: none;
    }
    .pItem {
        width: 200px;
        padding: 10px;
        border-left: 1px solid #eee;
        text-align: center;
        align-self: stretch;
        border-bottom: 1px solid #eee;
    }
    .pItem:last-child {
        border-right: 1px solid #eee;
    }
    .pItem.attr1 {
        font-weight: bold;
        color: green;
    }
    .pItem.attr1 small {
        font-size: 12px;
        color: #888;
    }
    .pItem.last {
        border-bottom: 1px solid #eee;
        height: 1px;
    }
    .pAttr.last {
        height: 1px;
    }
    .pItemTitle {
        font-size: 1.5em;
        height: 50px;
        border-top: 1px solid #eee
    }
</style>

{% if obj.settings.pricingTable %}
<section id="{{ obj.id }}">
    <div class="d-flex flex-row justify-content-center">
        <div class="pAttr noBorder"></div>
        {% for item in obj.settings.pricingTable.items %}
            <div class="pItem pItemTitle">{{ item.title }}</div>
        {% endfor %}
    </div>

    {% for group in obj.settings.pricingTable.schemaValue.groups %}

        {% for attr in group.attrs %}
        <div class="d-flex flex-row justify-content-center">
            <div class="pAttr">{{ attr.title }}</div>
            {% for item in obj.settings.pricingTable.items %}
                <div class="pItem attr{{ forloop.parentloop.counter }}">{{ item|dynamic_var:attr.id|safe }}</div>
            {% endfor %}
        </div>
        {% endfor %}
    {% endfor %}

{#    <div class="d-flex flex-row justify-content-center">#}
{#        <div class="pAttr last"></div>#}
{#        {% for item in obj.settings.pricingTable.items %}#}
{#            <div class="pItem last"></div>#}
{#        {% endfor %}#}
{#    </div>#}
{% comment %} </div> {% endcomment %}
</section>
{% endif %}