{% load util_tags %}
<div id="{{ obj.id }}" class="default-menu">
    <h6>{{ obj.settings.title }}</h6>
    {% if menuItems %}
        <ul>
            {% for menuItem in menuItems %}
            <li>
                <a href="{{ menuItem.get_url }}">
                    <div class="menu-list-info">
                        <p>{{ menuItem.title }}</p>
                        <small>{{ menuItem.description }}</small>
                    </div>
                </a>
            </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
