{% load menu_tags hyper_tags %}

<section class="footer-top-section pt-3 pb-3 align-middle">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="copyright-content">
                    {% if settings.base.ApplicationSettings.footer %}
                        {% hyperfield_render settings.base.ApplicationSettings.footer.content %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
