{% load menu_tags hyper_tags %}
{% load hyper_tags sekizai_tags %}


<div class="header-top-section">
    <div class="header-top-hotline">
        <div class="container">
            {% if settings.base.ApplicationSettings.header_top %}
                <div class="hotline-text pt-1 pb-1">
                    {% hyperfield_render settings.base.ApplicationSettings.header_top.content %}
                </div>
            {% endif %}
        </div>
    </div>
</div>




<header id="header" class="header">
    <nav class="navbar navbar-expand-lg navbar-trans navbar-inverse header-menu">

        <div class="container">
            <!-- Start Header Navigation -->
            <a class="navbar-brand" href="/">
                {% if settings.base.ApplicationSettings.website_logo %}
                    <img src="{{ settings.base.ApplicationSettings.website_logo.url }}" class="logo logo-display img-fluid mobile_logo" alt="{{ self.get_site.site_name }} Logo" />
                    <img src="/media/images/60X60.original.png" class="sticky_logo logo-display img-fluid mobile_logo" alt="{{ self.get_site.site_name }} Logo" />
                {% else %}
                    {{ self.get_site.site_name }}
                {% endif %}
            </a>
          <button class="navbar-toggler" id="sidebarCollapse" type="button" data-toggle="collapse" aria-controls="navbarSupportedContent" aria-expanded="false">
            <span class="fa fa-bars"></span>
          </button>

            <!-- End Header Navigation -->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {% megamenu %}
            </div><!-- /.navbar-collapse -->
            <div class="social_media_top_right">
                {% if settings.base.ApplicationSettings.facebook_url %}
                <a href="{{ settings.base.ApplicationSettings.facebook_url }}"><i class="fa fa-facebook"></i></a>
                {% endif %}
                {% if settings.base.ApplicationSettings.youtube_url %}
                <a href="{{ settings.base.ApplicationSettings.youtube_url }}"><i class="fa fa-youtube"></i></a>
                {% endif %}
                {% if settings.base.ApplicationSettings.instagram_url %}
                <a href="{{ settings.base.ApplicationSettings.instagram_url }}"><i class="fa fa-linkedin"></i></a>
                {% endif %}
                {% if settings.base.ApplicationSettings.twitter_url %}
                <a href="{{ settings.base.ApplicationSettings.twitter_url }}"><i class="fa fa-twitter"></i></a>
                {% endif %}
                {% if settings.base.ApplicationSettings.google_plus_url %}
                <a href="{{ settings.base.ApplicationSettings.google_plus_url }}"><i class="fa fa-envelope"></i></a>
                {% endif %}
            </div>
        </div>
    </nav>





</header>
<div class="wrapper2">
    {% megamenu template="wagtailhyper/mobilemenu.html" %}
</div>


