{% load menu_tags hyper_tags %}
{% load hyper_tags sekizai_tags %}

<div class="fullscreen-header-menu">
    {% megamenu %}
</div>
<nav class="navbar navbar-expand-lg">
        <!-- Start Header Navigation -->
    <a class="navbar-brand" href="/">
        {% if settings.base.ApplicationSettings.website_logo %}
            <img src="{{ settings.base.ApplicationSettings.website_logo.url }}" class="logo logo-display img-fluid" alt="{{ self.get_site.site_name }} Logo" />
        {% else %}
            {{ self.get_site.site_name }}
        {% endif %}
    </a>
     <button class="navbar-toggler mr-auto" id="sidebarCollapse" type="button" data-toggle="collapse" aria-controls="navbarSupportedContent" aria-expanded="false">
        <span class="fa fa-bars"></span>
    </button>
</nav>
<div class="social-list">
        <ul class="nav-item d-inline-flex ml-auto social-header">
                            {% if settings.base.ApplicationSettings.facebook_url %}
            <li class="list-inline-item"><a target="blank"
                                            href="{{ settings.base.ApplicationSettings.facebook_url }}"><i class="fa fa-facebook"></i></a></li>
            {% endif %}
            {% if settings.base.ApplicationSettings.instagram_url %}
            <li class="list-inline-item"><a target="blank"
                                            href="{{ settings.base.ApplicationSettings.instagram_url }}"><i
                    class="fa fa-instagram"></i></a></li>
            {% endif %}
            {% if settings.base.ApplicationSettings.twitter_url %}
            <li class="list-inline-item"><a target="blank"
                                            href="{{ settings.base.ApplicationSettings.twitter_url }}"><i
                    class="fa fa-twitter"></i></a></li>
            {% endif %}
            {% if settings.base.ApplicationSettings.google_plus_url %}
            <li class="list-inline-item"><a target="blank"
                                            href="{{ settings.base.ApplicationSettings.google_plus_url }}"><i
                    class="fa fa-google-plus"></i></a></li>
            {% endif %}
            {% if settings.base.ApplicationSettings.youtube_url %}
            <li class="list-inline-item"><a target="blank"
                                            href="{{ settings.base.ApplicationSettings.youtube_url }}"><i class="fa fa-youtube"></i></a></li>
            {% endif %}
            {% if settings.base.ApplicationSettings.linkedin_url %}
            <li class="list-inline-item"><a target="blank"
                                            href="{{ settings.base.ApplicationSettings.linkedin_url }}"><i class="fa fa-linkedin"></i></a></li>
            {% endif %}
        </ul>
    </div>
<div class="wrapper2">
    {% megamenu template="wagtailhyper/mobilemenu.html" %}
</div>



