{% load hyper_tags sekizai_tags %}
{% load hyper_tags %}


<div id="sidebar">
    <div id="dismiss">
        <i class="fa fa-angle-left"></i>
    </div>
    <nav class="site-menu">
        <div class="side-menu-logo">
            <a class="navbar-brand" href="/">
                {% if settings.base.ApplicationSettings.website_logo %}
                    <img src="{{ settings.base.ApplicationSettings.website_logo.url }}" class="logo logo-display img-fluid" alt="{{ self.get_site.site_name }} Logo" />
                {% else %}
                    {{ self.get_site.site_name }}
                {% endif %}
            </a>
        </div>
        <form method="get" action="{% url 'search' %}">
            <input required type="search" name="query" id="search" placeholder="Search..." />
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
        <ul class="navbar-nav ml-auto mobile">
            {% for item in menu_items %}
                <li class="nav-item {% active_class item %} {% if item.has_dropdown %} dropdown {% endif %}">
                    <a class="nav-link {% if item.has_dropdown %} dropdown-link {% endif %}"
                            {% if item.has_dropdown %} data-toggle="dropdown" {% endif %}
                       href="{{ item.get_url }}">{{ item.title }}</a>
                    {% if item.has_dropdown %}
                        <div class="dropdown-menu">
                        {% hyperfield_render item.mobile_menu %}
                        </div>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>

    </nav>
</div>
<div class="overlay"></div>

{% addtoblock 'js' %}
<script type="text/javascript">

    $('#dismiss, .overlay').on('click', function () {
        // hide sidebar
        $('#sidebar').removeClass('active');
        // hide overlay
        $('.overlay').removeClass('active');
    });

    $('#sidebarCollapse').on('click', function () {
        // open or close navbar
        $('#sidebar').toggleClass('active');
        // close dropdowns
        $('.collapse.in').toggleClass('in');
        // and also adjust aria-expanded attributes we use for the open/closed arrows
        // in our CSS
        $('a[aria-expanded=true]').attr('aria-expanded', 'false');

        $('.overlay').addClass('active');
    });


    //mobile menu click

</script>
{% endaddtoblock %}