{% load menu_tags hyper_tags %}


<section class="footer-top-section pt-3 pb-3 align-middle">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8">
                <div class="footer-logo">
                    {% if settings.base.ApplicationSettings.footer_logo %}
                        <a href="https://www.divineit.net/" target="_blank"><img src="{{ settings.base.ApplicationSettings.footer_logo.url }}" alt="Footer Logo"
                             class="img-fluid"></a>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="footer-social-list float-right">
                    <ul class="nav-item d-inline-flex ml-auto">
                        <p>Follow us </p>
                        {% if settings.base.ApplicationSettings.facebook_url %}
                            <li class="list-inline-item"><a target="blank"
                                                            href="{{ settings.base.ApplicationSettings.facebook_url }}"><i
                                    class="fa fa-facebook"></i></a></li>
                        {% endif %}
                        {% if settings.base.ApplicationSettings.twitter_url %}
                            <li class="list-inline-item"><a target="blank"
                                                            href="{{ settings.base.ApplicationSettings.twitter_url }}"><i
                                    class="fa fa-twitter"></i></a></li>
                        {% endif %}
                        {% if settings.base.ApplicationSettings.linkedin_url %}
                            <li class="list-inline-item"><a target="blank"
                                                            href="{{ settings.base.ApplicationSettings.linkedin_url }}"><i
                                    class="fa fa-linkedin"></i></a></li>
                        {% endif %}
                        {% if settings.base.ApplicationSettings.youtube_url %}
                            <li class="list-inline-item"><a target="blank"
                                                            href="{{ settings.base.ApplicationSettings.youtube_url }}"><i
                                    class="fa fa-youtube"></i></a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

{% if settings.base.ApplicationSettings.footer %}
<footer class="footer-section">
    {% hyperfield_render settings.base.ApplicationSettings.footer.content %}
</footer>
{% endif %}
