// Main Colors
$body-color: #6f6f6f;
$heading-color: #343a40;
$white-color: #ffffff;
$primary-color: #EC1D35;
$secondary-color: #001d99;
$accent-color: #031b4e;
$dark-color: #010e28;
$custom-color: #EBEBEB;

// Main light colors
$primary-light-color: #CB001F;
$secondary-light-color: #001d99;
$accent-light-color: #3E336F;


//Form Color
$form-color: #b3b3b3;
$form-bg-color: #fcfcfc;


// Alert Colors
$success-color: #4ebf56;
$error-color: #e23636;

// Border Colors
$primary-border-color: #EC1D35;
$secondary-border-color: #001d99;
$accent-border-color: #031b4e;
$dark-border-color: #010e28;
$custom-border-color: #fafafa;
$custom-dark-border-color: #ececec;

//RGBA color


// Brand Colors
$facebook-color: #3b5998;
$twitter-color: #00aced;
$googleplus-color: #dd4b39;
$instagram-color: #125688;
$pinterest-color: #cb2027;
$dribbble-color: #ea4c89;
$behance-color: #053eff;
$linkedin-color: #0077b5;


// Base Font
$body-font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
$heading-font-family: 'Roboto', sans-serif;
$body-font-size: 1em;
$body-line-height: 1.85714286em;


// Base font weights
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

//Opacity

$opacity-10: 1;
$opacity-9: 0.9;
$opacity-8: 0.8;
$opacity-7: 0.7;
$opacity-6: 0.6;
$opacity-5: 0.5;
$opacity-4: 0.4;
$opacity-3: 0.3;
$opacity-2: 0.2;
$opacity-1: 0.1;

// Animation
$transition-in: .3s ease-in;
$transition-out: .4s ease-out;


