//header top css

.search-box-wrap{
  position: relative;
  display: inline-block;
  overflow: hidden;
  float: right;
  right: -15px;
  #search{
    width: 25px;
    height: 26px;
    background: $white;
    border: none;
    font-size: 10pt;
    float: right;
    padding: 5px 10px;
    -webkit-border-radius: .2rem;
    -moz-border-radius: .2rem;
    border-radius: .2rem;
    color: $p-color;
    -webkit-transition: width .55s ease;
    -moz-transition: width .55s ease;
    -ms-transition: width .55s ease;
    -o-transition: width .55s ease;
    transition: width .55s ease;
    &:active{
      outline:none;
      width: 200px;
    }
    &:focus{
      outline:none;
      width: 200px;
    }
  }
  .icon{
    position: absolute;
    right: 0;
    width: 25px;
    height: 30px;
    vertical-align: middle;
    text-align: center;
    z-index: 1;
    color: $white;
    padding: 5px;
    background: $primary-color;
    font-size: 13px;
    line-height: initial;
  }
  &:hover{
    cursor: pointer;
    #search{
      width: 200px;
    }
  }
}



//search result css

.search-result-list{
  ul{
    li{
      padding: 15px;
      background: $background-color-active;
      h2{
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 5px;
      }
    }
  }
}

/* New Header Design
Author: Mbr sagor from divine it limited
date: 4-01-20
*/
.header_bottom {
  background: #DDD;
}
.menu_right_sidebar {
  margin-left: 10px;
}
.search_box {
  display: inline-block;
  position: relative;
}
.search_box input {
  padding: 5px;
  height: 33px;
}
.search_box input:focus {
  outline: none !important;
}
.search_box button {
  background: transparent;
  border: transparent;
  position: absolute;
  right: 3px;
  top: 3px;
}
.search_box button:hover {
  cursor: pointer;
}
.menu_right_sidebar a {
  padding: 0 10px;
  color: #6610f2;
  text-transform: uppercase;
}
.menu_right_sidebar .fa-shopping-cart {
  font-size: 20px;
}
.menuBar {
  background: #6610f2;
  color: #ffffff !important;
  padding: 10px !important;
}
.brand_name {
  //background: #1476f2;
  text-align: center;
  padding: 5px;
  position: relative;
  //border-radius: 32px 32px 0px 0px;
   height: 100%;
  display: flex;
    align-items: center;
    justify-content: left;
}
.brand_name .left_triangle {
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0px 0px 33px 28px;
  border-color:
  transparent transparent #1476f2
  transparent;
  position: absolute;
  left: -21px;
  bottom: 0;
}
.brand_name .right_triangle {
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 33px 0 0 28px;
  border-color: transparent transparent transparent
  #1476f2;
  position: absolute;
  right: -21px;
  bottom: 0px;
}
.brand_name a{
  text-transform: uppercase;
  color: #666;
  padding: 0px 10px;
}
.product_menu ul li.megaMenuItem {
  display: inline-block;
  padding: 1px 8px;
  position: relative;
  border-right: 1px solid rgb(204, 204, 204);
}
.product_menu ul li.megaMenuItem:first-child {
  border-left: 1px solid rgb(204, 204, 204);
}
.product_menu ul li.megaMenuItem a {
  text-transform: capitalize;
  color: #777;
  font-size: 14px;
  text-transform: capitalize;
}
.product_menu ul li.megaMenuItem:hover {
  background: #eee;
  color: #2e3192;
}

.product_menu .dropdown-menu {
  transition: .6s;
  box-shadow: inset 0 4px 8px -6px #444;
  z-index: 9999;
}
.product_menu {
  //margin-left: 50px;
}

.mega_menu ul li {
  display: block;
  padding: 4px 8px;
  transition: .5s;
}
.mega_menu ul li a {
  font-size: 13px;
  color: #797474;
}
.mega_menu ul li:hover {
  // padding-right: 5px;
  background: transparent;
}

