{% extends "layout.html" %}
{% load currency_filters %}
{% load thumbnail %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
    {% if not order.status == 'Quotation' %}
        {% blocktrans with number=order.number %}
            Order {{ number }}: confirmation
        {% endblocktrans %}
    {% else %}
        Thank you for showing interest
    {% endif %} | {{ block.super }}
{% endblock title %}



{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                {% if order.status == 'Quotation' %}
                    <p class="alert alert-success"><strong> Thank you!</strong> We have received your request for
                        Quotation. You will hear from us shortly.</p>
                {% else %}
                    {% blocktrans with number=order.number %}

                        <p class="alert alert-success"><strong> Thank you!</strong> Your order number {{ number }}
                            confirmation</p>
                    {% endblocktrans %}
                {% endif %}

                <p class="lead">
                    {% if order.status == 'Quotation' %}

                    {% else %}
                        {% blocktrans with number=order.number %}
                            Your order has been placed and a confirmation email has been sent - your order number is
                            <strong>{{ number }}</strong>.
                        {% endblocktrans %}
                        {% trans "Please make a note of this reference or print this page and quote it in any communication with us regarding your order." %}
                    {% endif %}
                </p>
                {% if not order.status == 'Quotation' %}
                    <div class="row shipping-payment">
                        <div class="col-sm-6">
                            {% block shipping_info %}
                                <div class="card">
                                    <div class="card-header">
                                        <h4>{% trans "Shipping address" %}</h4>
                                    </div>
                                    <div class="card-body">
                                        {% if order.shipping_address %}
                                            <p class="mb-2">
                                                {% for field in order.shipping_address.active_address_fields %}
                                                    {{ field }},
                                                {% endfor %}
                                            </p>

                                            {% if order.shipping_address.phone_number %}
                                                <h5>{% trans "Contact" %}</h5>
                                                <p class="mb-3">{% trans "Phone" %}: {{ order.shipping_address.phone_number }}
                                                    {% if order.guest_email %}
                                                        <br/>{% trans "Email" %}: {{ order.guest_email }}
                                                    {% endif %}
                                                </p>
                                            {% endif %}

                                            {% if order.shipping_address.notes %}
                                                <h5>{% trans "Instructions" %}</h5>
                                                {{ order.shipping_address.notes|linebreaks }}
                                            {% endif %}
                                        {% else %}
                                            <p class="mb-2">{% trans "No shipping address required." %}</p>
                                        {% endif %}
                                    </div>
                                </div>

                            {% endblock %}
                        </div>

                        <div class="col-sm-6">
                            {% block payment_info %}
                                <div class="card">
                                    <div class="card-header">
                                        <h4>{% trans "Payment method" %}</h4>
                                    </div>
                                    <div class="card-body">
                                        {% for source in order.sources.all %}
                                            <p>
                                                {% if source.reference %}
                                                    {% blocktrans with amount=source.amount_allocated|currency:source.currency type=source.source_type.name reference=source.reference %}
                                                        Allocation of {{ amount }} from type {{ type }} (reference:
                                                        {{ reference }})
                                                    {% endblocktrans %}
                                                {% else %}
                                                    {% blocktrans with amount=source.amount_allocated|currency:source.currency type=source.source_type.name %}
                                                        Allocation of {{ amount }} from type {{ type }}
                                                    {% endblocktrans %}
                                                {% endif %}
                                            </p>
                                        {% empty %}
                                            <p>
                                                {% trans "No payment was required for this order." %}
                                            </p>
                                        {% endfor %}

                                        {% if order.billing_address %}
                                            <h4>{% trans "Billing address" %}</h4>
                                            <address>
                                                {% for field in order.billing_address.active_address_fields %}
                                                    {{ field }}<br/>
                                                {% endfor %}
                                            </address>
                                        {% endif %}

                                        <div class="shipping-method">
                                            <h4>{% trans "Shipping method" %}</h4>
                                            <p class="mb-2">{{ order.shipping_method }}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endblock %}
                        </div>
                    </div>
                {% endif %}

                <div class="table-responsive py-4 cart-table">

                    <h4 class="mb-3">
                        {% if order.status == 'Quotation' %}
                            {% trans "Requested Items" %}
                        {% else %}
                            {% trans "Order contents" %}
                        {% endif %}
                    </h4>
                    <table class="table table-hover table-sm table-bordered">
                        <thead class="bg--custom">
                        <tr>
                            <th class="text-center"><Strong></Strong></th>
                            <th class="text-left"><Strong>Item</Strong></th>
                            {#                    <th class="text-center"><strong>Quantity</strong></th>#}
                            <th class="text-center"><strong>Total</strong></th>
                        </tr>
                        </thead>
                        <tbody id="products_tbody">
                        {% for line in order.lines.all %}
                            <tr>
                                <td class="text-center">
                                    {% if line.product.get_logo %}
                                        <a href="{{ line.product.get_absolute_url }}">
                                            <img class="thumbnail img-fluid" src="{{ line.product.get_logo.url }}" style="max-height: 70px; max-width: 70px;"
                                                 alt="{{ line.product.get_title }}"/>
                                        </a>
                                    {% endif %}
                                </td>

                                <td>
                                    <p class="mb-0">{{ line.description|safe }}</p>
                                    <strong>
                                        {% if line.upc %}{{ line.upc }}<br/>{% endif %}
                                        {% if line.est_dispatch_date %}
                                            {% blocktrans with date=line.est_dispatch_date %}
                                                Estimated dispatch: <strong>{{ date }}</strong>
                                            {% endblocktrans %}
                                        {% endif %}
                                    </strong>
                                </td>
                                {#                        <td class="text-center">#}
                                {#                            {{ line.quantity }}#}
                                {#                        </td>#}
                                <td class="text-center">
                                    {% if show_tax_separately %}
                                        {{ line.line_price_before_discounts_excl_tax|currency:order.currency }}
                                    {% else %}
                                        {{ line.line_price_before_discounts_incl_tax|currency:order.currency }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>


                {% block basket_totals %}
                    <div class="row">
                        <div class="col-sm-5 ml-auto">
                            <div class="table-responsive">
                                <h4 class="mb-2">{% trans 'Totals' %}</h4>
                                <table class="table table-bordered table-sm">
                                    {% with discounts=order.basket_discounts %}
                                        {% block discount_totals %}
                                            {% if discounts %}
                                                <tr>
                                                    <td>{% trans "Basket total (before discounts)" %}</td>
                                                    <td class="align-right">{{ order.basket_total_before_discounts_incl_tax|currency:order.currency }}</td>
                                                </tr>
                                                {% for discount in discounts %}
                                                    <tr>
                                                        <td><span
                                                                class="label label-success">{% trans "Discount" %}</span> {{ discount.offer }}
                                                        </td>
                                                        <td class="align-right">
                                                            - {{ discount.amount|currency:order.currency }}</td>
                                                    </tr>
                                                {% endfor %}
                                            {% endif %}
                                        {% endblock discount_totals %}

                                        {% block basket_total %}
                                            {% if discounts %}
                                                <tr>
                                                    <th class="total">{% trans "Basket total (after discounts)" %}</th>
                                                    <th class="total align-right">{{ order.basket_total_incl_tax|currency:order.currency }}</th>
                                                </tr>
                                            {% else %}
                                                <tr class="basket-items">
                                                    <th class="total">{% trans "Basket total" %}</th>
                                                    <th class="total align-right">
                                                        {% if show_tax_separately %}
                                                            {{ order.basket_total_excl_tax|currency:order.currency }}
                                                        {% else %}
                                                            {{ order.basket_total_incl_tax|currency:order.currency }}
                                                        {% endif %}
                                                    </th>
                                                </tr>
                                            {% endif %}
                                        {% endblock basket_total %}
                                    {% endwith %}

                                    {% if not order.status == 'Quotation' %}
                                        {% block shipping_total %}
                                            <tr class="bg--custom">
                                                <th colspan="2"><strong>{% trans "Shipping" %}</strong></th>
                                            </tr>
                                            <tr>
                                                <td>{% trans "Shipping method" %}</td>
                                                <td class="align-right">{{ order.shipping_method }}</td>
                                            </tr>
                                            {% if order.has_shipping_discounts %}
                                                <tr>
                                                    <td>{% trans "Shipping charge (before discounts)" %}</td>
                                                    <td class="align-right">{{ order.shipping_before_discounts_incl_tax|currency:order.currency }}</td>
                                                </tr>
                                                {% for discount in order.shipping_discounts %}
                                                    <tr>
                                                        <td><span
                                                                class="label label-success">{% trans "Discount" %}</span> {{ discount.offer }}
                                                        </td>
                                                        <td class="align-right">
                                                            - {{ discount.amount|currency:order.currency }}</td>
                                                    </tr>
                                                {% endfor %}
                                                <tr>
                                                    <th class="total">{% trans "Shipping charge (after discounts)" %}</th>
                                                    <th class="total align-right">{{ order.shipping_incl_tax|currency:order.currency }}</th>
                                                </tr>
                                            {% else %}
                                                <tr>
                                                    <th class="total">{% trans "Shipping charge" %}</th>
                                                    <th class="total align-right">
                                                        {% if show_tax_separately %}
                                                            {{ order.shipping_excl_tax|currency:order.currency }}
                                                        {% else %}
                                                            {{ order.shipping_incl_tax|currency:order.currency }}
                                                        {% endif %}
                                                    </th>
                                                </tr>
                                            {% endif %}
                                        {% endblock shipping_total %}

                                        {% if show_tax_separately %}
                                            <tr>
                                                <th class="total">{% trans "Order tax" %}</th>
                                                <th class="total align-right">
                                                    {{ order.total_tax|currency:order.currency }}
                                                </th>
                                            </tr>
                                        {% endif %}
                                    {% endif %}
                                    {% block post_order_action_totals %}
                                        {% with actions=order.post_order_actions %}
                                            {% if actions %}
                                                <tr>
                                                    <th colspan="2"><h3>{% trans "Post order actions" %}</h3></th>
                                                </tr>
                                                {% for action in order.post_order_actions %}
                                                    <tr>
                                                        <td class="total" colspan="2"><p>{{ action.message }}</p></td>
                                                    </tr>
                                                {% endfor %}
                                            {% endif %}
                                        {% endwith %}
                                    {% endblock post_order_action_totals %}

                                    {% block order_total %}
                                        <tr>
                                            <td class="total"><h4>{% trans "Order total" %}</h4></td>
                                            <td class="total align-right"><h4
                                                    class="primary-color">{{ order.total_incl_tax|currency:order.currency }}</h4>
                                            </td>
                                        </tr>

                                    {% endblock order_total %}
                                </table>
                            </div>
                        </div>
                    </div>
                    {% block order_actions %}
                        <div class="row mb-4">
                            <div class="col-md-5 ml-auto">
                                {% if order.status == 'Quotation' %}
                                    <div class="text-right">
                                        <a href="{{ homepage_url }}"
                                           class="btn btn-default btn-small">{% trans "Check Other Products" %}</a>
{#                                        {% if order.quotation.generated_pdf %}#}
{#                                            <a class="btn primary-btn btn-small" href="{{ order.quotation.generated_pdf.url }}" download="quotation_{{ order.number }}.pdf">#}
{#                                                <i class="fa fa-download"></i> Download PDF#}
{#                                            </a>#}
{#                                        {% else %}#}
                                            <a class="btn primary-btn btn-small disabled" id="generatingQuotationBtn" href="#">
                                                <i class="fa fa-spinner fa-spin"></i> Generating Quotation...
                                            </a>
{#                                        {% endif %}#}
                                    </div>
                                {% else %}
                                    <div class="text-right">
                                        <a onclick="window.print()" href="#"
                                           class="btn primary-btn btn-small">{% trans "Print this page" %}</a>
                                        <a href="{{ homepage_url }}"
                                           class="btn secondary-btn btn-small">{% trans "Continue shopping" %}</a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endblock order_actions %}
                {% endblock basket_totals %}

                {% block order_tracking %}
                    {% if not order.user %}
                        <div class="sub-header">
                            <h4>{% trans "Tracking your order" %}</h4>
                        </div>
                        <p>{% trans "You can track the status of your order" %}</p>
                        <a class="btn primary-btn"
                           href="{% url 'customer:anon-order' order_number=order.number hash=order.verification_hash %}">{% trans "View order status" %}</a>
                        .
                    {% endif %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock content %}

{% block tracking %}
    {% include "partials/google_analytics_transaction.html" %}
{% endblock %}

<script type="text/javascript">
    {% block onbodyload %}
        {{ block.super }}

        (function() {

            var downloadName = 'quotation_{{ order.number }}.pdf';
            function get_quotation_status() {


                $.get('{% url "quotation_status" pk=order.quotation.id %}', function(resp) {
                    if(resp.status === "generated") {
                        $('#generatingQuotationBtn').attr('href', resp.downloadUrl);
                        $('#generatingQuotationBtn').attr('download', downloadName);
                        $('#generatingQuotationBtn').html('<i class="fa fa-download"></i> <span>Download</span>');
                        $('#generatingQuotationBtn').removeClass('disabled');

                    } else {
                        setTimeout(get_quotation_status, 2000)
                    }
                })
            }
            get_quotation_status();
        })()


    {% endblock %}
</script>