// leadership css
.LeadershipBlock {
  position: relative;
  display: block;
  width: 100%;

  .at-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background: #FFF;
    border: 1px solid #E2E9ED;
  }

  .at-grid[data-column="1"] .at-column {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .at-grid[data-column="2"] .at-column {
    width: 50%;
    max-width: 50%;
    min-width: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }

  .at-grid[data-column="3"] .at-column {
    width: 33.33333%;
    max-width: 33.33333%;
    min-width: 33.33333%;
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
  }

  .at-grid[data-column="4"] .at-column {
    width: 25%;
    max-width: 25%;
    min-width: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
  }

  .at-grid[data-column="5"] .at-column {
    width: 20%;
    max-width: 20%;
    min-width: 20%;
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
  }

  .at-grid[data-column="6"] .at-column {
    width: 16.66667%;
    max-width: 16.66667%;
    min-width: 16.66667%;
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%;
  }

  .at-grid[data-column="7"] .at-column {
    width: 14.28571%;
    max-width: 14.28571%;
    min-width: 14.28571%;
    -ms-flex-preferred-size: 14.28571%;
    flex-basis: 14.28571%;
  }

  .at-grid[data-column="8"] .at-column {
    width: 12.5%;
    max-width: 12.5%;
    min-width: 12.5%;
    -ms-flex-preferred-size: 12.5%;
    flex-basis: 12.5%;
  }

  .at-grid[data-column="9"] .at-column {
    width: 11.11111%;
    max-width: 11.11111%;
    min-width: 11.11111%;
    -ms-flex-preferred-size: 11.11111%;
    flex-basis: 11.11111%;
  }

  .at-column {
    z-index: 0;
    position: relative;
    background: $white;
    box-shadow: 0 0 0 1px $border-color;
    padding: 10px;
    box-sizing: border-box;
    -webkit-transition: box-shadow 0.3s ease, z-index 0s 0.3s ease, -webkit-transform 0.3s ease;
    transition: box-shadow 0.3s ease, z-index 0s 0.3s ease, -webkit-transform 0.3s ease;
    transition: box-shadow 0.3s ease, transform 0.3s ease, z-index 0s 0.3s ease;
    transition: box-shadow 0.3s ease, transform 0.3s ease, z-index 0s 0.3s ease, -webkit-transform 0.3s ease;
  }

  .at-column:before {
    content: "";
    display: block;
    padding-top: 100%;
  }

  .at-column:hover {
    z-index: 1;
    box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    border-radius: 4px;
    -webkit-transition: box-shadow 0.1s ease, z-index 0s 0.1s ease, -webkit-transform 0.1s ease;
    transition: box-shadow 0.1s ease, z-index 0s 0.1s ease, -webkit-transform 0.1s ease;
    transition: box-shadow 0.1s ease, transform 0.1s ease, z-index 0s 0.1s ease;
    transition: box-shadow 0.1s ease, transform 0.1s ease, z-index 0s 0.1s ease, -webkit-transform 0.3s ease;
  }

  .at-column:hover .at-social {
    margin: 15px 0 0;
    opacity: 1;
  }

  @media (max-width: 800px) {
    .at-column {
      width: 50% !important;
      max-width: 50% !important;
      min-width: 50% !important;
      -ms-flex-preferred-size: 50% !important;
      flex-basis: 50% !important;
    }
  }
  @media (max-width: 600px) {
    .at-column {
      width: 100% !important;
      max-width: 100% !important;
      min-width: 100% !important;
      -ms-flex-preferred-size: 100% !important;
      flex-basis: 100% !important;
    }
  }

  // user information
  .at-user {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;

    .at-user__avatar {
      width: 150px;
      height: 150px;
      border-radius: 100%;
      margin: 0 auto 20px;
      overflow: hidden;

      img {
        display: block;
        width: 100%;
        max-width: 100%;
      }
    }

    .at-user__name {
      color: $heading-color;

      h5 {
        margin-bottom: 5px;
      }
    }

    .at-user__title {
      color: $heading-color;
      font-size: 0.875rem;
      line-height: 1.375rem;
      color: $theme-color;
    }

    .at-social {
      margin: 0 0 -18px;
      opacity: 0;
      -webkit-transition: margin 0.2s ease, opacity 0.2s ease;
      transition: margin 0.2s ease, opacity 0.2s ease;

      .at-social__item {
        display: inline-block;
        margin: 0 2px;

        a {
          display: block;

          i {
            color: $primary-color-rgba;
            display: block;
            -webkit-transition: fill 0.2s ease;
            transition: fill 0.2s ease;
            width: 30px;
            height: 30px;
            line-height: 30px;

            &:hover {
              color: $theme-color;
            }
          }
        }
      }
    }
  }
}


//leadership with description


.single-team {
  display: block;
  position: relative;
}

.single-team .front-side {
  position: relative;
  z-index: 2;
  margin: 0 auto;
  background-color: transparent;
}

.single-team .front-side h5 {
  margin-bottom: 5px;
}

.single-team .front-side h6 {
  color: $p-color;
}

.single-team .back-side h5, .single-team .back-side h6 {
  color: $white;
}

.single-team .back-side {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: left;
  background-image: linear-gradient(to left, #00b7f0, #00a3e3, #008fd4, #007bc5, #0067b4);
  color: $white;
  padding: 15px;
  border-radius: 4px;
}
.single-team .back-side.back-side-center{
  display: flex;
  align-items: center;
  text-align: center !important;
  left: 45%;
}
.flipY {
  perspective: 1500px;
}

.flipY:hover .flip-container {
  transform: rotateY(180deg);
}

.flip-container {
  transition: all 500ms ease-in;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-container figure {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-container .back-side {
  transform: translateX(-50%) rotateY(180deg);
}

.flip-container .back-side p {
  font-size: 14px;
  line-height: 20px;
}

.center.hide {
  display: none;
}

.team-social-wrap .leader-social-list {
  display: inline-flex;
}

.leader-social-list {
  margin: 0;
  padding: 0;
}

.leader-social-list li {
  list-style: none;
  float: left;
}

.leader-social-list li a {
  display: block;
  color: $primary-color;
  width: 35px;
  height: 35px;
  line-height: 35px;
  transition: 0.5s;
  text-align: center;
  border: 1px solid $primary-color;
  margin: 5px;
  border-radius: 4px;
}
.leader-social-list li a:hover{
  background: $theme-color;
  border-color: $theme-color;
}
.leader-social-list li:hover a {
  color: $white;
  transform: rotateY(360deg);
}



//leadership student
.leadership-card{
  .dawgnation{
    color: $primary-color;
  }
  p{
    font-size: 14px;
  }
}
