{% load hyper_tags sekizai_tags util_tags %}

{% if not mobile %}
<nav class="navbar navbar-expand-lg bg-light header-menu">

    <div class="container">

                <!-- Start Header Navigation -->
                <a class="navbar-brand" href="{% abs_url '/' %}">
                    {% if settings.base.ApplicationSettings.website_logo %}
                    <img src="{% abs_url settings.base.ApplicationSettings.website_logo.url %}"
                         class="logo logo-display img-fluid"
                         alt="{{ self.get_site.site_name }} Logo"/>
                    {% else %}
                    {{ self.get_site.site_name }}
                    {% endif %}
                </a>


                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="megamenuNav navbar-nav ml-auto desktop fixMenuAlignment">
                        {% for item in menu_items %}
                        <li class="megaMenuItem nav-item {% active_class item %} {% if item.has_dropdown %} dropdown {% endif %}">
                            <a class="nav-link {% if item.has_dropdown %} dropdown-link {% endif %}" {% if item.has_dropdown %}
                               data-toggle="dropdown" {% endif %} href="{% abs_url item.get_url %}">{{ item.title }}</a>
                            {% if item.has_dropdown %}

                            <div class="fixItem dropdown-menu">
                                {% hyperfield_render item.content %}
                            </div>

                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>

                </div><!-- /.navbar-collapse -->

                <div class="menu_right_sidebar d-none d-md-flex flex-row justify-content-center align-items-center">
                    <div class="search_box">
                        {% include 'search/snippet.html' %}
                    </div>

                    {% if django_settings.OSCAR_MENU_API %}
                        {% remote_content url=django_settings.OSCAR_MENU_API js=True %}
                    {% endif %}
                </div>

                <button type="button" class="btn openMobileNav">
                    <span class="fa fa-bars"></span> Menu
                </button>
    </div>
</nav>

{% else %}

<div class="main-menu-mobile">
    <h5>{{ menu_group.title }}</h5>
    <div class="main-menu-group">
        {% for item in menu_items %}
        <div class="{% active_class item %} {% if item.has_dropdown %} dropdown-mobile {% endif %}">
            <a class="nav-link {% if item.has_dropdown %} dropdown-link {% endif %}" {% if item.has_dropdown %}
               data-toggle="dropdown" {% endif %} href="{% abs_url item.get_url %}">{{ item.title }}</a>
            {% if item.has_dropdown %}

            <div class="dropdown-menu">
                {% hyperfield_render item.mobile_menu %}
            </div>

            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>

{% endif %}