{% load i18n %}
{% load currency_filters %}

<p class="d-flex flex-row align-items-center">
    {% if basket.is_empty %}
        {% trans "Your basket is now empty" %}
    {% else %}
        {% if basket.is_tax_known %}
            {% blocktrans with total=basket.total_incl_tax|currency:basket.currency %}
                Your basket total is now &nbsp;<strong>{{ total }}</strong>
            {% endblocktrans %}
        {% else %}
            {% blocktrans with total=basket.total_excl_tax|currency:basket.currency %}
                Your basket total is now &nbsp;<strong>{{ total }}</strong>
            {% endblocktrans %}
        {% endif %}
    {% endif %}
    {% if include_buttons %}
        &nbsp;<a href="{% url 'basket:summary' %}" class="text-uppercase text-sm-center">{% trans "View basket" %}</a>
    {% endif %}
</p>

