{% load wagtailimages_tags hyper_tags %}
<div class="row CareerBlock" id="{{ obj.id }}">
    {% for career in career_list %}
        <div class="card career-content-wrap">
            <div class="card-body">
                <div class="single-career-wrap">
                    <h5 class="career-title">{{ career.title }} </h5>
                   <ul class="list-inline career-info-list">
                        <li class="list-inline-item">{{ career.job_type }}</li>
                        <li class="list-inline-item"> <i class="fa fa-briefcase"></i> Experience : <span>{{ career.experience }}</span></li>
                        <li class="list-inline-item"> <i class="fa fa-money"></i> Salary : <span>{{ career.salary }}</span></li>
                        <li class="list-inline-item"> <i class="fa fa-calendar"></i> Job End Date : <span>{{ career.expires }}</span></li>
                   </ul>
                </div>
                <div class="career-action pull-right">
                   <ul class="list-inline career-info-list">
                        <li class="list-inline-item"><a class="btn btn-primary" target="_parent" href="{{ career.apply_link }}">Apply Now</a></li>
                        <li class="list-inline-item"><a href="#cdm{{ career.id }}" class="btn btn-outline-info" data-toggle="modal" data-target="#cdm{{ career.id }}">View Details</a></li>
                   </ul>
                </div>
            </div>
        </div>
        <div class="description-model">
            <!-- Modal -->
            <div class="modal fade" id="cdm{{ career.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ career.title }} </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      {% image career.image original class="img-fluid mb-3" %}
                   <p>{% hyperfield_render career.description %}</p>
                  </div>
                  <div class="modal-footer">
                    <a class="btn btn-primary" target="_parent" href="{{ career.apply_link }}">Apply Now</a>
                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
    {% endfor %}
</div>