//content box default style



.contentBoxWrap{
  .content-box-content{
    h3{
      margin-bottom: 5px;
      color: inherit;
      font-size: 20px;
      line-height: 26px;
    }

  }
  small{
    color: $primary-color-rgba;
  }
  .image-right-align{
    text-align: right;
  }
  .image-left-align{
    text-align: left;
  }
}
@media screen and  (max-width: 767px) and (min-width: 320px){
  .contentBoxWrap{
    .image-right-align{
      text-align: left;
    }
    .image-left-align{
      text-align: left;
    }
  }
}
//content box 3 card list


.content-box-card-with-image{
  .card-body{
    h3{
      font-size: 20px;
      line-height: 24px;
    }
  }
}


//content box 4 card without image


.content-box-card-without-image{
  .card-body{
    h3{
      font-size: 20px;
      font-weight: 500;
      line-height: 24px;
    }
  }
}

//content box 5 list style
.content-list-type-wrap{
  .single-list-type{
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
    display: flex;
   align-items:center;
    p{
      font-size: 18px;
      vertical-align: middle;
      display: inline-block;
      color: $p-color;
    }
    img{
      float: left;
      margin-right: 10px;
    }
  }
}



//content box 6 link type css

.content-link-type-wrap{
  .single-link-type{
    min-height: 175px;
    padding: 25px 15px;
	-js-display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	-webkit-box-flex: 0;
	-ms-flex: 0 1 33.3333%;
	flex: 0 1 33.3333%;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	height: 100%;
	background-color: $white;
	overflow: hidden;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	cursor: pointer;
	border-radius: 4px;
	box-shadow: 0 1px 5px 1px $border-color;
	margin-bottom: 30px;
    .link-icon-image{
      position: relative;
      -webkit-box-flex: 0;
      -webkit-transition: all .3s ease;
      transition: all .3s ease;
      text-align: center;
      display: block;
      width: 40px;
    }
    .link-box-content{
       -webkit-box-flex: 0;
      -ms-flex: 0 1 85%;
      flex: 0 1 85%;

      .link-box-title{
        font-size: 14px;
        line-height: 16px;
        text-align: left;
        text-transform: uppercase;
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
      }
      .link-box-description{
        p{
          margin: 0 0 10px;
          font-size: 14px;
          line-height: 22px;
          text-align: left;
          -webkit-transition: all .3s ease;
          transition: all .3s ease;
          display: block;
        }
      }
      .view-more-link{
        font-size: 14px;
        font-weight: 600;
        font-family: $secondary-font;
        line-height: 22px;
        text-transform: capitalize;
        -js-display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
          i{
           font-size: 14px;
            vertical-align: middle;
            margin-left: 5px;
            -webkit-transition: all .3s ease-in;
            transition: all .3s ease-in;
        }

      }
    }
    &:hover{
      background-color: $primary-color-rgba;
      .link-icon-image{
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
      }
      .link-box-title{
        color: $white;
      }
      p{
        color: $white;
      }
      .view-more-link{
         opacity: 1;
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
        color: $white;

        i{
          padding-left: 8px;
        }
      }
    }
  }
}


//content box 7 link with image

.center-image-with-link{
  padding: 30px;
  background: $white;
  opacity: 0.9;
  border-radius: 4px;
  margin-bottom: 30px;
  transition: 0.3s ease-in;
  -webkit-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  .view-more-link{
    margin-top: 15px;
    text-transform: uppercase;
  }

  &:hover{
    cursor: pointer;
    -webkit-box-shadow: 0 0 28px 5px $white;
    box-shadow: 0 0 28px 5px $white;
  }
}


//content box 7 list type two col

.content-link-type-two-col{


    .content-box-list{
        -js-display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
              -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
      li{
           display: block;
        width: 50%;
        float: left;
        height: 60px;
        position: relative;
        line-height: 1.8;
        font-size: 16px;
      }
      //.icon-image{
      //
      //  &:before{
      //    content: "";
      //    background-size: contain;
      //    background-position: 50%;
      //    background-repeat: no-repeat;
      //    position: absolute;
      //    top: 50%;
      //    left: 0;
      //    height: 40px;
      //    width: 40px;
      //    -webkit-transform: translateY(-50%);
      //    -ms-transform: translateY(-50%);
      //    transform: translateY(-50%);
      //  }
      //}
    }
}





//content box 8 call to action section

.call-to-action-section{

  .call-to-action-content{
     h3{
       font-size: 50px;
       line-height: 55px;
       font-weight: 400;
       margin-bottom: 0;
     }
    h4{
      font-size: 40px;
      line-height: 45px;
      font-weight: 700;
    }
    .view-more-link{
      a{
        border: 1px solid $border-color;
        display: inline-block;
        padding: 8px 25px;
        border-radius: 4px;
        transition: all 0.3s ease-in;
        color: $p-color;
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: .50px;
        font-family: $secondary-font;
        i{
          transition: all 0.3s ease-in;
        }
        &:hover{
          background: $primary-color;
          color: $white;
          border-color: $primary-color;
          i{
            padding-left: 10px;
          }
        }
      }
    }
    .solid-button{
      a{
        border: 1px solid $primary-color;
        color: $white;
        background: $primary-color;
        i{
          color: $white;
        }
        &:hover{
          background: transparent;
          color: $primary-color;
          i{
            color: $primary-color;
          }
        }
      }
    }

    .white-border-action{
      a{
        border-color: $white;
        color: $white;
        background: transparent;
        i{
          color: $white;
        }
        &:hover{
          background: $white;
          color: $primary-color;
          border-color: $white;
          i{
            color: $primary-color;
          }
        }
      }
    }

  }
}



//content box 12 download link

.center-image-with-download-link{
  img{
    margin-bottom: 15px;
  }
  .view-more-link{
    padding-top: 10px;
  }
}



//content box 14 border action button white




//content box 16 contentbox image with link

.content-box-card-with-image-link{
  .card{
    box-shadow: 0 0 74px rgba(10, 10, 10,0.07);
    -moz-box-shadow: 0 0 74px rgba(10, 10, 10,0.07);
    -webkit-box-shadow: 0 0 74px rgba(10, 10, 10,0.07);
    border: none;
    .card-body{
      h3.card-title{
        font-size: 20px;
        line-height: 24px;
        color: inherit;
      }
      .desc p{
        margin-top: 0;
        margin-bottom: 16px;
        line-height: inherit;
        font-size: inherit;
        color: $p-color !important;
        span{
          color: $p-color !important;
        }
      }
    }
  }

}



//promo box

.promo-box{
  .card{
    border: none;
    color: #fff;
    padding: 25px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    .promo-img{

    }
    .promo-content{
      h4{
        color: $white;
      }
    }
  }
  .card.promo-1{
    background: $primary-color;
      &:hover{
      -webkit-box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
      box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
      -webkit-transform: translate(0, -10px);
      -moz-transform: translate(0, -10px);
      transform: translate(0, -10px);
    }
  }
  .card.promo-2{
    background: #1ec716;
      &:hover{
      -webkit-box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
      box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
      -webkit-transform: translate(0, -10px);
      -moz-transform: translate(0, -10px);
      transform: translate(0, -10px);
    }
  }
  .card.promo-3{
    background: #990faa;
    &:hover{
      -webkit-box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
      box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
      -webkit-transform: translate(0, -10px);
      -moz-transform: translate(0, -10px);
      transform: translate(0, -10px);
    }
  }
}

.gutter-0 > * {
    padding: 0;
}