
{% load wagtailimages_tags sekizai_tags static %}
<link href="{% static 'divineit/css/select2.min.css' %}" rel="stylesheet" />
<style type="text/css">
    .select2-container--default .select2-results>.select2-results__options {
        max-height: 400px;
    }
</style>
<div class="customerWrapper" id="{{ obj.id }}">
    <div class="customerFilter mt-3 mb-2" style="display:table; margin-left:auto; margin-right:auto">
        <form method="get" id="customerFilterForm" class="form-inline">
            {% if obj.settings.filterByIndustry %}
            <div class="form-group">
                <select name="industry" class="form-control select2">
                    <option value="">Select Industry</option>
                </select>
            </div>
            {% endif %}
            {% if obj.settings.filterByProduct or obj.settings.filterBySolution %}
                {% if obj.settings.filterByIndustry %}
                <div class="form-group ml-2 mr-2">
                    <label>OR</label>
                </div>
                {% endif %}
            {% endif %}
            {% if obj.settings.filterByProduct %}
            <div class="form-group">
                <select name="productOrService" class="form-control select2">
                    <option value="">Select Product or Service</option>
                </select>
            </div>
            {% endif %}

            {% if obj.settings.filterByProduct and obj.settings.filterBySolution %}
            <div class="form-group ml-2 mr-2">
                <label>OR</label>
            </div>
            {% endif %}

            {% if obj.settings.filterBySolution %}
            <div class="form-group">
                <select name="solution" class="form-control select2">
                    <option value="">Select Solution</option>
                </select>
            </div>
            {% endif %}
        </form>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="row CustomerBlock"></div>
        </div>
        <div class="col-md-12">
            <div class="search-pagination pt-3">
                <a class="btn btn-outline-info pull-left" href="#" id="previousLink">Previous</a>
                <a class="btn btn-outline-primary pull-right" href="#" id="nextLink">Next</a>
            </div>
        </div>
    </div>

</div>


<script id="customerSingleItem" type="text/template">
    <div class="col-6 col-md-4 col-12">
        <div class="customer-single">
        <div class="customer-single-item">
            <div class="item-media">
                <div class="item-media-wrap">
                    <div class="item-media-inner" style="#background_image#"></div>
                </div>
                <div class="item-media-logo">
                    <img src="#logo#" alt="#company_name#"/>
                </div>
            </div>
            <div class="item-text">
                <h5>#company_name#</h5>
                <p>#company_short_description#</p>
                <a href="#website#">View Case Study</a>
            </div>
        </div>
    </div>
</div>
</script>

{% addtoblock 'js' %}

    <script src="{% static 'divineit/js/select2.min.js' %}"></script>

    <script type="text/javascript">
        var BASE_API_URL = ''
        {% if settings.base.ApplicationSettings.product_toolbar_base_url and obj.settings.remote %}
        BASE_API_URL = '{{ settings.base.ApplicationSettings.product_toolbar_base_url|safe }}'
        {% endif %}

        var CUSTOMER_API_URL = BASE_API_URL + '/api/customers/'
        var PRODUCTS_API_URL = BASE_API_URL + '/api/products/'
        var SERVICES_API_URL = BASE_API_URL + '/api/services/'
        var INDUSTRIES_API_URL = BASE_API_URL + '/api/industries/'
        var SOLUTIONS_API_URL = BASE_API_URL + '/api/solutions/'

        var r_productOrService = encodeURIComponent('{{ request.GET.productOrService|safe }}')
        var r_solution = encodeURIComponent('{{ request.GET.solution|safe }}')
        var r_industry = encodeURIComponent('{{ request.GET.industry|safe }}')

        var service = encodeURIComponent(('{{ obj.settings.service|safe }}' == 'None') ? '' : '{{ obj.settings.service|safe }}')
        var product = encodeURIComponent(('{{ obj.settings.product|safe }}' == 'None') ? '' : '{{ obj.settings.product|safe }}')
        var industry = encodeURIComponent(('{{ obj.settings.industry|safe }}' == 'None') ? '' : '{{ obj.settings.industry|safe }}')
        var solution = encodeURIComponent(('{{ obj.settings.solution|safe }}' == 'None') ? '' : '{{ obj.settings.solution|safe }}')



        var perPage = '{{ obj.settings.perPage|safe }}'
        var page = '{{ request.GET.page|safe }}'

        if (service == '') service = r_productOrService
        if (product == '') product = r_productOrService
        if (solution == '') solution = r_solution
        if (industry == '') industry = r_industry

        var url_params = []
        var pagination_params = []

        if(r_productOrService != '') {
            pagination_params.push('productOrService=' + r_productOrService)
        }

        if (product != '') {
            url_params.push('product=' + product)
        }
        if (service != '') {
            url_params.push('service=' + service)
        }
        if (perPage != '') {
            url_params.push('perPage=' + perPage)
        }
        if (industry != '') {
            url_params.push('industry='+industry)
            pagination_params.push('industry='+industry)
        }

        if (solution != '') {
            url_params.push('solution='+solution)
            pagination_params.push('solution='+solution)
        }

        if (page != '') {
            url_params.push('page=' + page)
        }





        function get_customers() {
            CUSTOMER_API_URL += '?' + url_params.join('&')
            fetch(CUSTOMER_API_URL).then(function(response) {
                return response.json()
            }).then(function(response){
                build_grid(response.result)
                build_pagination(response)
            })
        }

        function build_pagination(data) {
            if (data.num_pages > data.current_page) {
                var next_params = pagination_params
                next_params.push('page=' + (parseInt(data.current_page)+1))
                $('#nextLink').attr('href', '?' + next_params.join('&'))
            } else {
                $('#nextLink').hide()
            }

            if (data.current_page > 1) {
                var prev_params = pagination_params
                prev_params.push('page=' + (parseInt(data.current_page)-1))
                $('#previousLink').attr('href', '?' + prev_params.join('&'))
            } else {
                $('#previousLink').hide()
            }
        }
        function build_grid(data) {
            var template = $('#customerSingleItem').html()
            var grid = ''
            for (var i=0; i<data.length; i++){
                grid += build_single_item(template, data[i])
            }
            $('.CustomerBlock').html(grid)
        }

        function build_single_item(template, item) {
            result = template
            if (item.logo != null) {
                //item.logo = item.logo.replace('http:', 'https:')
            }
            if (!item.show_case_study) {
                result = result.replace('<a href="#website#" target="_blank">View Case Study</a>', '')
            }
            if (item.background_image != null) {
                //item.background_image = item.background_image.replace('http:', 'https:')
                item.background_image = 'background: url('+ item.background_image +')no-repeat center center / cover'
            }
            for(var key in item) {
                if (item[key] == null) item[key] = ''
                var rx = new RegExp('#' + key + '#', 'g')
                result = result.replace(rx, item[key])
            }
            return result
        }

        $(document).ready(function() {

            get_customers()

            $('#customerFilterForm select').change(function(e) {
                e.preventDefault()
                var selected = $(this).val()
                $('#customerFilterForm select').val('')
                $(this).val(selected)
                $('#customerFilterForm').submit()
            })
        })


        // Products select list
        fetch(PRODUCTS_API_URL).then(function(response) {
            return response.json()
        }).then(function (response) {
            var tmp_selected = '{{ request.GET.productOrService|safe }}'
            var tmp_results = response.results.map(function(item) {
                return {
                    'id': item.name,
                    'text': item.name,
                    'selected': item.name == tmp_selected
                }
            })

            // Services Select List
            fetch(SERVICES_API_URL).then(function(response) {
                return response.json()
            }).then(function (response) {
                var tmp_selected = '{{ request.GET.productOrService|safe }}'
                var tmp_ser = response.results.map(function(item) {
                    return {
                        'id': item.name,
                        'text': item.name,
                        'selected': item.name == tmp_selected
                    }
                })

                $('select[name=productOrService]').select2({
                    data: [
                        {
                            'text': 'Products',
                            'children': tmp_results
                        },
                        {
                            'text': 'Services',
                            'children': tmp_ser
                        }
                    ]
                })
            })
        })


        fetch(INDUSTRIES_API_URL).then(function(response) {
            return response.json()
        }).then(function (response) {
            var tmp_selected = '{{ request.GET.industry|safe }}'
            var tmp_results = response.results.map(function(item) {
                return {
                    'id': item.name,
                    'text': item.name,
                    'selected': item.name == tmp_selected
                }
            })
            $('select[name=industry]').select2({
                data: tmp_results
            })
        })

        fetch(SOLUTIONS_API_URL).then(function(response) {
            return response.json()
        }).then(function (response) {
            var tmp_selected = '{{ request.GET.solution|safe }}'
            var tmp_results = response.results.map(function(item) {
                return {
                    'id': item.name,
                    'text': item.name,
                    'selected': item.name == tmp_selected
                }
            })
            $('select[name=solution]').select2({
                data: tmp_results
            })
        })

    </script>
{% endaddtoblock %}