
{% load wagtailimages_tags sekizai_tags static %}

<div class="owl-carousel customerMerquee" id="{{ obj.id }}">

</div>


<script id="customerSingleItem" type="text/template">
    <div class="item">
        <div class="single-merquee-item">
            <div class="item-media-logo">
                <img data-src="#logo#" alt="#company_name#" class="owl-lazy"/>
            </div>
            <div class="item-text">
                <h5>#company_name#</h5>
                <p>#company_short_description#</p>
                <a href="#website#" target="_blank">View Case Study</a>
            </div>
        </div>
    </div>
</script>

{% addtoblock 'js' %}

    <script src="{% static 'divineit/js/select2.min.js' %}"></script>

    <script type="text/javascript">
        var BASE_API_URL = ''
        {% if settings.base.ApplicationSettings.product_toolbar_base_url %}
        BASE_API_URL = '{{ settings.base.ApplicationSettings.product_toolbar_base_url|safe }}'
        {% endif %}

        var CUSTOMER_API_URL = BASE_API_URL + '/api/customers/'
        var PRODUCTS_API_URL = BASE_API_URL + '/api/products/'
        var SERVICES_API_URL = BASE_API_URL + '/api/services/'
        var INDUSTRIES_API_URL = BASE_API_URL + '/api/industries'

        var r_productOrService = '{{ request.GET.productOrService|safe }}'
        var r_solution = encodeURIComponent('{{ request.GET.solution|safe }}')
        var r_industry = encodeURIComponent('{{ request.GET.industry|safe }}')

        var service = encodeURIComponent(('{{ obj.settings.service|safe }}' == 'None') ? '' : '{{ obj.settings.service|safe }}')
        var product = encodeURIComponent(('{{ obj.settings.product|safe }}' == 'None') ? '' : '{{ obj.settings.product|safe }}')
        var industry = encodeURIComponent(('{{ obj.settings.industry|safe }}' == 'None') ? '' : '{{ obj.settings.industry|safe }}')
        var solution = encodeURIComponent(('{{ obj.settings.solution|safe }}' == 'None') ? '' : '{{ obj.settings.solution|safe }}')

        var perPage = '{{ obj.settings.perPage|safe }}'
        var page = '{{ request.GET.page|safe }}'

        if (service == '') service = r_productOrService
        if (product == '') product = r_productOrService
        if (solution == '') solution = r_solution
        if (industry == '') industry = r_industry

        var url_params = []

        if (product != '') {
            url_params.push('product=' + product)
        }
        if (service != '') {
            url_params.push('service=' + service)
        }
        if (perPage != '') {
            url_params.push('perPage=' + perPage)
        }
        if (page != '') {
            url_params.push('page=' + page)
        }

        if (industry != '') {
            url_params.push('industry='+industry)
        }




        function get_customers() {
            CUSTOMER_API_URL += '?' + url_params.join('&')
            fetch(CUSTOMER_API_URL).then(function(response) {
                return response.json()
            }).then(function(response){
                build_grid(response.result)
                build_pagination(response)
            })
        }

        function build_pagination(data) {
            if (data.num_pages > data.current_page) {
                $('#nextLink').attr('href', '?page=' + (parseInt(data.current_page)+1))
            } else {
                $('#nextLink').hide()
            }

            if (data.current_page > 1) {
                $('#previousLink').attr('href', '?page=' + (parseInt(data.current_page)-1))
            } else {
                $('#previousLink').hide()
            }
        }
        function build_grid(data) {
            var template = $('#customerSingleItem').html()
            var grid = ''
            for (var i=0; i<data.length; i++){
                grid += build_single_item(template, data[i])
            }
            $('.customerMerquee').html(grid)
            $('.customerMerquee').owlCarousel({
                autoplay : true,
                loop: data.length > 4,
                margin: 10,
                lazyLoad : true,
                dots: false,
                slideTransition: 'linear',
                autoplayTimeout : 4500,
                autoplayHoverPause : true,
                autoplaySpeed : 4500,
                responsive:{
                    0:{
                        items:1
                    },
                    600:{
                        items:2
                    },
                    800:{
                        items:3
                    },
                    1200:{
                        items:4
                    }

                }
            })
        }

        function build_single_item(template, item) {
            result = template
            if (item.logo != null) {
                //item.logo = item.logo.replace('http:', 'https:')
            }
            if (!item.show_case_study) {
                result = result.replace('<a href="#website#" target="_blank">View Case Study</a>', '')
            }
            if (item.background_image != null) {
                //item.background_image = item.background_image.replace('http:', 'https:')
                item.background_image = 'background: url('+ item.background_image +')no-repeat center center / cover'
            }
            for(var key in item) {
                if (item[key] == null) item[key] = ''
                var rx = new RegExp('#' + key + '#', 'g')
                result = result.replace(rx, item[key])
            }
            return result
        }

        $(document).ready(function() {

            get_customers()

            $('#customerFilterForm select').change(function(e) {
                e.preventDefault()
                var selected = $(this).val()
                $('#customerFilterForm select').val('')
                $(this).val(selected)
                $('#customerFilterForm').submit()
            })
        })


        // Products select list
        fetch(PRODUCTS_API_URL).then(function(response) {
            return response.json()
        }).then(function (response) {
            var tmp_selected = '{{ request.GET.productOrService }}'
            var tmp_results = response.results.map(function(item) {
                return {
                    'id': item.name,
                    'text': item.name,
                    'selected': item.name == tmp_selected
                }
            })

            // Services Select List
            fetch(SERVICES_API_URL).then(function(response) {
                return response.json()
            }).then(function (response) {
                var tmp_selected = '{{ request.GET.productOrService }}'
                var tmp_ser = response.results.map(function(item) {
                    return {
                        'id': item.name,
                        'text': item.name,
                        'selected': item.name == tmp_selected
                    }
                })

                $('select[name=productOrService]').select2({
                    data: [
                        {
                            'text': 'Products',
                            'children': tmp_results
                        },
                        {
                            'text': 'Services',
                            'children': tmp_ser
                        }
                    ]
                })
            })
        })


        fetch(INDUSTRIES_API_URL).then(function(response) {
            return response.json()
        }).then(function (response) {
            var tmp_selected = '{{ request.GET.industry }}'
            var tmp_results = response.results.map(function(item) {
                return {
                    'id': item.name,
                    'text': item.name,
                    'selected': item.name == tmp_selected
                }
            })
            $('select[name=industry]').select2({
                data: tmp_results
            })
        })
    </script>
{% endaddtoblock %}