{% extends 'dashboard/layout.html' %}
{% load i18n %}
{% load thumbnail %}
{% load staticfiles %}
{% load sorting_tags %}
{% load render_table from django_tables2 %}

{% block body_class %}{{ block.super }} catalogue{% endblock %}

{% block title %}
    {% trans "Deactivate Service Records" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li class="active">{% trans "Deactivate Service" %}</li>
    </ul>
{% endblock %}

{% block header %}
    <div class="page-header action">
        <h3>Are you sure to deactivate {{ service.product.get_title }} for {{ service.user.email }}?</h3>
    </div>
{% endblock header %}

{% block dashboard_content %}
    <form method="post">
        {% csrf_token %}
        <label>
            <input type="checkbox" name="delete"> Force Delete?
        </label>

        <button type="submit" class="btn btn-primary">Deactivate</button>
    </form>

{% endblock dashboard_content %}

{% block onbodyload %}
    {{ block.super }}
{% endblock onbodyload %}
