
<div id="{{ obj.id }}" class="carousel slide  {{ obj.general.classes }}">
    <div class="owl-carousel owl-theme fullscreen_slider">
        {% for slider in obj.settings.slides %}
            <div class="item" style="background: url('{{ slider.image.url }}')no-repeat center center / cover" >
                <div class="single-content-wrap">
                   {% if slider.title%}
                        <h2>{{ slider.title }}</h2>
                   {% endif %}
                   {{ slider.shortDescription|safe }}
                    {% if slider.actionUrl %}
                       <div class="d-inline-block mt-4">
                        <a href="{{ slider.actionUrl }}" class="btn btn-primary">{{ slider.actionTitle }}</a>
                       </div>
                    {% endif %}
               </div>
            </div>
        {% endfor %}
    </div>
</div>

