.ListBlock{
  .list-type-two-col {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
     -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    li{
      -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
      flex: 1 1 50%;
      max-width: 50%;
      font-weight: 400;
      padding: 10px 10px 10px 0;
      font-size: 16px;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      .icon-image{
        width: 50px;
        height: 50px;
        line-height: 50px;
        display: inline-block;
        margin-right: 15px;
        text-align: center;
        vertical-align: middle;
      }
      .list-title {
          -webkit-box-flex: 1;
          -ms-flex: 1;
          flex: 1;
      }

    }
}

.list-type-single:before {
    content: "";
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 0;
    height: 40px;
    width: 40px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

}




//client logo list

#customer-logos a {
    display: block;
    padding: 30px 0;
}

#customer-logos .common-Button {
    display: none;
    position: absolute;
    z-index: 2;
    left: 50%;
    margin-top: 8px;
    transform: translate(-50% ) scale(.95);
    transition: .15s cubic-bezier(.19,1,.22,1);

}
.common-Button--default {
    color: #fff;
    background: #6772e5;
}

.common-Button {
    white-space: nowrap;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    background: #fff;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    color: #6772e5;
    text-decoration: none;
    transition: all .15s ease;
}

#customer-logos li>img {
    margin: 15px;
    padding: 0 10px;
    transition: all 1s ease;
    height: 25px;
    vertical-align: middle;
}
#customer-logos:hover span.common-Button{
    display: block;
    color: #fff;
    background-color: #7795f8;
}
#customer-logos:hover a>ul>li>img {
    opacity: .2;
    padding: 0;
    transition: all 1s ease;
}

#customer-logos ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;

}


//list 3 list with image and link

.list-img-link{
  .list-type-single{
    margin-bottom: 5px;
    a{
      background: $background-color-active;
      overflow: hidden;
      padding: 10px 25px;
      display: flex;
      align-items:center;
      span.icon-image{
        float: left;
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        transition: all 0.3s ease-in;
        line-height: 0;
      }
      .list-title{
        vertical-align: middle;
        font-size: 18px;
        line-height: 26px;
        font-weight: 500;
      }
      &:hover{
        background: $white;
      }
    }
  }
}



//list 4 Contact us page call to action list

.contact-us-form-list{
  border-top: 1px solid $secondary-color;
  .list-img-link{
  .call-to-action-list{
    margin-bottom: 5px;
    font-size: 30px;
    line-height: 35px;
    font-weight: bold;
    overflow: hidden;
    padding: 10px 0;
    display: flex;
    align-items:center;
    color: inherit;
      span.icon-image{
        float: left;
        display: inline-block;
        vertical-align: middle;
        margin-right: 15px;
        transition: all 0.3s ease-in;
        line-height: 0;
      }
      .list-title{
        vertical-align: middle;
        font-family: $secondary-font;
        color: inherit;
        p{
          font-weight: normal;
          font-size: 15px;
          line-height: 21px;
        }
      }

  }
}
}




//list with image and title 3d style

.carousel-1{
  display: block;
  width: 100%;
}
.carousel-1 ul{
    perspective: 550px;
    position: relative;
    display: block;
    overflow: hidden;
}
.carousel-1 ul li{
  float: left;
  display: inline-block;
  width: 19%;
}
.carousel-1 ul li img{
  box-shadow: 0 4px 15px -1px rgba(0, 0, 0,0.80)
}
.carousel-1 ul li.a_1{
  transform: rotateY(20deg) translateZ(-85px);
}
.carousel-1 ul li.a_2 {
transform: rotateY(12deg) translateZ(-190px);
}
.carousel-1 ul li.a_3 {
   transform: rotateY(0deg) translateZ(-220px);
}
.carousel-1 ul li.a_4 {
        transform: rotateY(-12deg) translateZ(-190px);
}
.carousel-1 ul li.a_5 {
    transform: rotateY(-20deg) translateZ(-85px);
  z-index: -1;
}

