$theme-color: #0067b4;

$primary-color: #00b7f0;
$primary-color-rgba: rgba(20,113,188,.65);
$secondary-color: #0067b4;

$dark-color: #333333;
$p-color-light: #666;
$p-color: #4d4d4d;
$heading-color: #0071bc;
$heading-color-rgba: rgba(0,0,0,0.60);
$background-color-rgba: rgba(230, 230, 230, 0.2);
$background-color-active: #1d1e25;
$border-color: #cbcbcb;
$white-rgba-color: rgba(255, 255, 255, 0.80);



//font family

//font-family: 'Roboto', sans-serif;
//font-family: 'Roboto Condensed', sans-serif;
//font-family: 'Open Sans', sans-serif;

// font-family: 'Muli', sans-serif;
// font-family: 'Open Sans', sans-serif;



// font-family: 'Nunito', sans-serif;
// font-family: 'Work Sans', sans-serif;


$primary-font: 'Helvetica', Arial, sans-serif;
$secondary-font: 'Helvetica', Arial, sans-serif;
$optional-font: 'Helvetica', Arial, sans-serif;


$white: #ffffff;
$blue:    #007bff;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #28a745;
$teal:    #20c997;
$cyan:    #17a2b8;
