<div id="{{ obj.id }}" class="{{ obj.general.classes }}" data-ride="carousel">
    <!-- Testimonial slider start -->
    <div class="client_custom_testimonial relative bg-light-white pt-95 pb-95">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="owl-carousel owl-theme teamslide-03 text-center">
                        {% for slider in obj.settings.slides %}
                            <div class="item testimonial_shadow_hover">
                                <div class="card shadow-sm p-3 mb-5 bg-white rounded">
                                    <div class="service_img testimonial z-depth-4 rounded">
                                        {% if slider.image.url %}
                                            <img class="rounded-circle card-img-top" src="{{ slider.image.url }}"/>
                                        {% endif %}
                                        <div class="card-body">
                                            {% if slider.title %}
                                                <h5 class="card-title product_card_title">{{ slider.title }}</h5>
                                            {% endif %}
                                            {% if slider.subTitle %}
                                                {{ slider.subTitle }}
                                            {% endif %}
                                            {% if slider.shortDescription %}
                                                {{ slider.shortDescription|safe }}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial slider end -->
</div>
