<div id="{{ obj.id }}" class="{{ obj.general.classes }}" data-ride="carousel">

    <!-- product and service start -->
    <div class="o-hidden relative bg-light-white pt-95 pb-95">
        <div class="container">
            <div class="col-lg-3 text-center text-lg-right">
                <div class="blog-nav mb-10 mt-md-20">
                    <a href="" class="team-nav-icon left service_product_icon_left product_slider_left_icon">
                        <i class='fa fa-chevron-left'></i>
                    </a>
                    <a href="" class="team-nav-icon ml-10 right service_product_icon_right product_slider_right_icon">
                        <i class='fa fa-chevron-right'></i>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="owl-carousel owl-theme teamslide-03">
                        {% for slider in obj.settings.slides %}
                        <div class="item">
                            <div class="product_grid">
                                <div class="card">
                                    {% if slider.image.url %}
                                        <img src="{{ slider.image.url }}" class="card-img-top" alt="{{ slider.title }}">
                                    {% endif %}
                                    <div class="card-body">
                                        {% if slider.title %} <h5 class="card-title product_card_title">{{ slider.title }}</h5> {% endif %}
                                        {% if slider.subTitle %} {{ slider.subTitle }} {% endif %}
                                        {% if slider.actionUrl %}<p><a href="{{ slider.actionUrl }}" class="btn btn-primary btn-sm custom_btn_color">{{ slider.actionTitle }}</a></p>{% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- product and service end -->
</div>