<div id="{{ obj.id }}" class="{{ obj.general.classes }}" data-ride="carousel">

    <!-- Banner start -->
    <section class="slider-3 relative">
        <div class="owl-carousel owl-theme main-slider">
            {% for slider in obj.settings.slides %}
                <div class="item">
                    <div class="each-slider flex-center" style="background-image: url({{ slider.image.url }});"
                         data-overlay="3">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-9 text-left">
                                    <div class="banner-headline white z-5">
                                        {% if slider.title %}
                                            <h2>{{ slider.title }}</h2>
                                        {% endif %}
                                        {% if slider.shortDescription %}
                                            <p>{{ slider.shortDescription|safe }}</p>
                                        {% endif %}
                                        {% if slider.actionTitle %}
                                            <a href="{{ slider.actionUrl }}"
                                               class="btn btn-blue-border">{{ slider.actionTitle }}</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    <!-- Banner end -->
</div>