{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Forgot Password" %}{% endblock %}
{% block form_title %}{% trans "Forgot Password" %}{% endblock %}

{% block contentarea %}


    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <p class="text-muted my-4">{% blocktrans %}We have sent you an e-mail with password reset link. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>

{% endblock %}
