{% extends 'layout.html' %}
{% load i18n %}

{% block title %}{% trans 'Password reset' %} | {{ block.super }}{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li>
        <a href="{{ homepage_url }}">{% trans 'Home' %}</a>
    </li>
    <li class="active">{% trans 'Password reset' %}</li>
</ul>
{% endblock %}

{% block headertext %}{% trans "Password reset" %}{% endblock %}

{% block content %}

    <section class="space-small">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <form id="password_reset_form" action="." method="post">
                        {% csrf_token %}
                        <p class="lead">{% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}</p>
                        {% include 'partials/form_fields.html' with style='stacked' %}
                        <div class="form-group form-actions">
                            <button type="submit" class="btn primary-btn" data-loading-text="{% trans 'Sending...' %}">{% trans 'Send reset email' %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
