{% load crispy_forms_tags %}

{% if obj.settings.form %}
    <div class="contact-form-wrap">
        <h3>{{ obj.settings.title }}</h3>
        <form id="{{ obj.id }}" method="post">
            {% csrf_token %}
            <input type="hidden" name="form_id" value="{{ obj.settings.form.id}}" />
            {% if obj.settings.successPage %}
                <input type="hidden" name="success_url" value="{{ obj.settings.successPage.url }}" />
            {% endif %}
            {% crispy form %}
        </form>
    </div>
{% endif %}
