/* ----------------------------------------------------
	IMPORT GOOGLE FONTS
------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Open+Sans');





/* -----------------------------------------
			   01.	RESET CSS
-------------------------------------------- */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*------------------------------------------
GENERAL CSS(body, header, btn, form, list, link, img, middle title, section bg, margin, padding, icon color)
-------------------------------------------*/

/*body css*/
body {
    background: $white;
    color: $p-color;
    font-family: $primary-font;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 1.7;
}
p{
  font-family: $primary-font;
}
/*header*/
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 10px;
    padding: 0;
    color: $heading-color;
    font-family: $secondary-font;
}
h1, h2, h3{
    font-weight: 700;
}
h4, h5, h6{
    font-weight: 600;
}
h1 {
    font-size: 60px;
    line-height: 65px;
}

h2 {
    font-size: 44px;
    line-height: 45px;
}

h3 {
    font-size: 26px;
    line-height: 30px;
}

h4 {
    font-size: 22px;
    line-height: 25px;
}

h5 {
    font-size: 20px;
    line-height: 25px;
}

h6 {
    font-size: 16px;
    line-height: 20px;
}

b, strong {
    font-weight: 600;
    font-family: $secondary-font
}

/*form*/


.form-control:focus {
    outline: none;
    box-shadow: none;
}

.form-group {
    margin-bottom: 20px;
}

.form-group.submit-btn {
    margin-bottom: 0;
}

/*list*/

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/*link*/
a {
    color: $primary-color;
    text-decoration: none;
    transition: all 0.3s ease-in;
}

a,
a:active,
a:focus,
a:active {
    text-decoration: none;
}

a:hover,
a:focus {
    color: $theme-color;
    outline: none;
    text-decoration: none;
}

/*img*/
img {
    max-width: 100%
}

/*margin, padding*/
.m-0 {
    margin: 0;
}

.p-0 {
    padding: 0;
}

/*social link color*/
.facebook {
    color: #3b5998;
}

.facebook-bg {
    background: #3b5998;
    color: #fff;
}

.twitter {
    color: #00aced;
}

.twitter-bg {
    background: #00aced;
    color: #fff;
}

.behance{
    color: #3d6adf;
}
.behance-bg{
    background: #3d6adf;
    color: #fff;
}

.instagram {
    color: #bc2a8d;
}


.instagram-bg {
    background: #bc2a8d;
    color: #fff;
}

.google-plus {
    color: #dd4b39;
}

.google-plus-bg {
    background: #dd4b39;
    color: #fff;
}

.linkedin {
    color: #007bb6;
}

.linkedin-bg {
    background: #007bb6;
    color: #fff;
}

.youtube {
    color: #bb0000;
}

.youtube-bg {
    background: #bb0000;
    color: #fff;
}

.pinterest {
    color: #cb2027;
}

.pinterest-bg {
    background: #cb2027;
    color: #fff;
}

.dribbble {
    color: #ea4c89;
}

.dribbble-bg {
    background: #ea4c89;
    color: #fff;
}

//custom button style

.btn:active, .btn:focus, button:active, button:focus{
    outline: none;
    box-shadow: none;
    background-image: initial;
}


.custom-border-btn{
    border: 2px solid $primary-color;
    color: $primary-color;;
    background: transparent;
}


/*======================================
    Main width
===================================*/
.wrapper{
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
}
body.modal-open {
    overflow: visible;
    padding-right: 0 !important;
}

.container-fluid{
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    overflow: hidden;
}


.main{
    max-width: 1920px;
    margin: 0 auto;
}


section{
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;

}





//search background


.search-section-heading{
    background: url("../img/search-bg.jpg")no-repeat center center / cover;
    position: relative;
    z-index: 1;
    overflow: hidden;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-section-heading:after{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4));
}


.search-section-heading{
    h1{
        font-size: 35px;
        line-height: 40px;
        color: $white;
        font-weight: normal;
    }
    .search-form{
        display: block;
        overflow: hidden;
        .form-control{
           display: inline-block;
            border-radius: 2px;
            width: initial;
        }
        .btn{
            border-radius: 2px;
        }
    }
}

.search-result-list{

    .card-body{
        background: $background-color-rgba;
        h2{
            font-size: 22px;
            line-height: 26px;
        }
    }
}

.search-pagination{
    display: block;
    overflow: hidden;
    width: 100%;
}



//career page css


.CareerBlock{
    position: relative;
    display: block;
    overflow: hidden;
    padding: 15px 0;
    .career-content-wrap{
        display: block;
        overflow: hidden;
        margin-bottom: 20px;
        padding-bottom: 20px;
            .single-career-wrap{
            float: left;
            display: inline-block;
            .career-title{
                margin-bottom: 5px;
            }
            .career-info-list{
                li{
                    border-right: 1px solid $border-color;
                    line-height: 14px;
                    padding: 2px 10px;
                    margin-right: 0;
                    display: inline-block;
                    span{
                        font-weight: 500;
                    }
                    i{
                        font-size: 15px;
                        margin-right: 5px;
                    }
                    &:first-child{
                        color: $primary-color;
                        padding-left: 0;
                    }
                    &:last-child{
                        border-right: none;
                    }
                }
            }
        }
        .career-action{
            margin-top: 15px;
        }
    }

}

/* -----------------------------------------
		    BACK TO TOP CSS
-------------------------------------------- */
#toTop{
    position: fixed;
    bottom: 40px;
    right: 40px;
    text-decoration: none;
    color: #fff !important;
    font-size: 20px;
    display: none;
    font-weight: bold;
    text-align: center;
    z-index: 100;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}

#toTop span {
    display: block;
    position: relative;
    background: #efefef;
    color: #000;
    font-weight: 300;
    padding: 5px 12px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}



//error page css


.error-page-wrap{
    height: 100vh;
    position: relative;
    width: 100%;
    z-index: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: $primary-color;
    color: $white;
}
.error-content-wrap{
    width: 95%;
    margin: 0 auto;
    h1{
        color: $white;
        font-size: 110px;
        line-height: 120px;
    }
    a.btn{
        display: block;
        margin-top: 50px;
        background: $white;
          border: 2px solid $white;
          text-decoration: none;
          padding: 15px;
          text-transform: uppercase;
          color: $primary-color;
          border-radius: 26px;
          transition: all 0.2s ease-in-out;
            cursor: pointer;
            z-index: 99;
            position: relative;
            width: 206px;
            margin: auto;
            margin-top: 41px;
        &:hover{
            background-color: transparent;
          color: $white;
          transition: all 0.2s ease-in-out;
            border-color: $white;
        }
    }
}