{% load wagtailimages_tags %}

<div class="row d-flex justify-content-center flex-wrap" id="{{ obj.id }}">
    {% for leadership in obj.settings.items %}
        <div class="col-md-3">
            <div class="single-team flipY">
                    <div class="flip-container">
                        <figure class="front-side">
                            {% if leadership.image %}
                                <img data-src="{{ leadership.image.url }}" class="lazy img-fluid" alt="{{ leadership.name }}"/>
                            {% endif %}
                            <h5 class="mb-0">{{ leadership.name }}</h5>
                            <h6>{{ leadership.designation }}</h6>
                        </figure>
                        <figure class="back-side back-side-center">
                            <div class="back-side-content-wrap">
                            <h5 class="mb-0">{{ leadership.name }}</h5>
                            <h6>{{ leadership.designation }}</h6>
                            {%if leadership.facebookUrl or leadership.twitterUrl or leadership.linkedinUrl or leadership.githubUrl or leadership.personalnUrl%}
                            <div class="team-social-wrap">
                                <ul class="leader-social-list">
                                    {% if leadership.facebookUrl %}
                                    <li><a href="{{ leadership.facebookUrl }}" target="_blank">
                                        <i class="fa fa-facebook"></i></a>
                                    </li>
                                    {% endif %}
                                    {% if leadership.twitterUrl %}
                                    <li><a href="{{ leadership.twitterUrl }}" target="_blank">
                                        <i class="fa fa-twitter"></i></a>
                                    </li>
                                    {% endif %}

                                    {% if leadership.linkedinUrl %}
                                    <li><a href="{{ leadership.linkedinUrl }}" target="_blank">
                                        <i class="fa fa-linkedin"></i></a>
                                    </li>
                                    {% endif %}

                                    {% if leadership.githubUrl %}
                                    <li><a href="{{ leadership.githubUrl }}" target="_blank">
                                        <i class="fa fa-github"></i></a>
                                    </li>
                                    {% endif %}

                                    {% if leadership.personalnUrl %}
                                    <li><a href="{{ leadership.personalnUrl }}" target="_blank">
                                        <i class="fa fa-globe"></i></a>
                                    </li>
                                    {% endif %}

                                </ul>
                            </div>
                            {% endif %}
                            {% if leadership.description %}
                            <p>{{ leadership.description|safe }}</p>
                            {% endif %}
                            </div>
                        </figure>
                    </div>
                </div>
        </div>
     {% endfor %}
</div>
