{% load wagtailimages_tags %}

<div class="row d-flex justify-content-center flex-wrap" id="{{ obj.id }}">
    {% for leadership in obj.settings.items %}
        <div class="col-md-3">
            <div class="card mb-5 leadership-card">
                    {% if leadership.image %}
                        <img data-src="{{ leadership.image.url }}" class="lazy img-fluid" alt="{{ leadership.name }}"/>
                    {% endif %}
                    <div class="card-body text-center">
                         <h5 class="mb-0">{{ leadership.name }}</h5>
                            <strong class="dawgnation">{{ leadership.designation }}</strong>
                        {%if leadership.facebookUrl or leadership.twitterUrl or leadership.linkedinUrl or leadership.githubUrl or leadership.personalnUrl%}
                        <div class="justify-content-center" style="width: 100%">
                            <ul class="nav justify-content-center">
                                {% if leadership.facebookUrl %}
                                <li class="nav-item"><a class="nav-link" href="{{ leadership.facebookUrl }}" target="_blank">
                                    <i class="fa fa-facebook"></i></a>
                                </li>
                                {% endif %}
                                {% if leadership.twitterUrl %}
                                <li class="nav-item"><a class="nav-link" href="{{ leadership.twitterUrl }}" target="_blank">
                                    <i class="fa fa-twitter"></i></a>
                                </li>
                                {% endif %}

                                {% if leadership.linkedinUrl %}
                                <li class="nav-item"><a class="nav-link" href="{{ leadership.linkedinUrl }}" target="_blank">
                                    <i class="fa fa-linkedin"></i></a>
                                </li>
                                {% endif %}

                                {% if leadership.githubUrl %}
                                <li class="nav-item"><a class="nav-link" href="{{ leadership.githubUrl }}" target="_blank">
                                    <i class="fa fa-github"></i></a>
                                </li>
                                {% endif %}

                                {% if leadership.personalnUrl %}
                                <li class="nav-item"><a class="nav-link" href="{{ leadership.personalnUrl }}" target="_blank">
                                    <i class="fa fa-globe"></i></a>
                                </li>
                                {% endif %}

                            </ul>
                        </div>
                        {% endif %}
                        {% if leadership.description %}
                            <div class="leadership-info">
                                <p>{{ leadership.description|safe }}</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
        </div>
     {% endfor %}
</div>
