{% load wagtailimages_tags %}
<div class="row d-flex justify-content-center flex-wrap" id="{{ obj.id }}">
    {% for leadership in obj.settings.items %}
        <div class="col-sm-6 col-lg-4 col-md-4">
            <div class="team_member text-center">
                {% if leadership.image %}
                    <img src="{{ leadership.image.url }}" alt="{{ leadership.name }}"/>
                {% endif %}
                <div class="social_links">
                    {%if leadership.facebookUrl or leadership.twitterUrl or leadership.linkedinUrl or leadership.githubUrl or leadership.personalnUrl%}
                    {% if leadership.facebookUrl %}<a title="Facebook" href="{{ leadership.facebookUrl }}"><i class="fa fa-facebook"></i></a>{% endif %}
                    {% if leadership.twitterUrl %}<a title="Twitter" href="{{ leadership.twitterUrl }}"><i class="fa fa-twitter"></i></a>{% endif %}
                    {% if leadership.linkedinUrl %}<a title="Linkedin" href="{{ leadership.linkedinUrl }}"><i class="fa fa-linkedin"></i></a>{% endif %}
                    {% if leadership.githubUrl %}<a title="Github" href="{{ leadership.githubUrl }}"><i class="fa fa-github"></i></a>{% endif %}
                    {% if leadership.personalnUrl %}<a title="Personal website" href="{{ leadership.personalnUrl }}"><i class="fa fa-globe"></i></a>{% endif %}
                    {% endif %}
                </div>
                <div class="member_info">
                    <h2>{{ leadership.name }}</h2>
                    <h3>{{ leadership.designation }}</h3>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
