{% extends "layout.html" %}
{% load i18n hyper_tags %}

{% block title %}
    {{ flatpage.title}} | {{ block.super }}
{% endblock %}


{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{{ homepage_url }}">{% trans "Home" %}</a>
        </li>
        <li class="active">{{ flatpage.title }}</li>
    </ul>
{% endblock %}

{% block content %}
    {% block header%}
        <div class="container edit-action">
            <div class="row">
               <div class="col-md-12">
                    {% if user.is_staff %}
                    <a class="edit-page-btn" href="{% url 'dashboard:page-update' pk=flatpage.id %}">
                        <small><i class="fas fa-edit"></i> {% trans "Edit this page" %}</small>
                    </a>
                {% endif %}
               </div>
            </div>
        </div>
    {% endblock %}

    {% hyperfield_render flatpage.content %}
{% endblock %}
